/*==========================
	Color Scheme
============================*/

.main-color {
    color: #EE1C24;
}

/* Lightest to Darkest */
.accent-1 {
    color: #EE1C24;
}

.accent-2 {
    color: #B81C22;
}

.accent-3 {
    color: #900E13;
}