/*==========================
	Color Scheme
============================*/

.main-color {
    color: #1F1D1B;
}

/* Lightest to Darkest */
.accent-1 {
    color: #FF9500;
}

.accent-2 {
    color: #FF7B00;
}

.accent-3 {
    color: #E85D04;
}