/*==========================
	Color Scheme
============================*/

:root {
  --main-color: #FF7900;
  --sub-color-accent: rgb(255, 121, 0, 0.5);
  --hover-color-accent: rgb(255, 121, 0, 0.2);
}

.main-color {
  color: #FF7900;
}

.main-bg-color {
  background-color: #FF7900 !important;
}

.item a.active,
.submenu-item.active {
  background-color: #FF7900;
  color: white;
}

.item a.active:hover,
.submenu-item.active:hover {
  background-color: #FF7900;
  color: white;
}

.org-info {
  background-color: #FF7900;
}

.org-logo {
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #FF7900;
}

.item a:hover {
  background: rgb(255, 121, 0, 0.1);
}

.submenu-item:hover {
  background: rgb(255, 121, 0, 0.1);
}

.submenu .menu-title:hover {
  background: rgb(255, 121, 0, 0.1);
}

.menu-items .item a.active-sub {
  color: #FF7900;
}


/*==========================
	ACCENT COLORS: L TO D
============================*/

.accent-1 {
  color: #ff9500;
}

.accent-2 {
  color: #ff7b00;
}

.accent-3 {
  color: #e85d04;
}
