/*==========================
	Color Scheme
============================*/

:root {
  --main-color: #084a6f;
  --sub-color-accent: rgb(8, 74, 111, 0.5);
  --hover-color-accent: rgb(8, 74, 111, 0.2);
}

.main-color {
  color: #084a6f;
}

.main-bg-color {
  background-color: #084a6f;
}

.item a.active,
.submenu-item.active {
  background-color: #084a6f;
  color: white;
}

.item a.active:hover,
.submenu-item.active:hover {
  background-color: #084a6f;
  color: white;
}

.org-info {
  background-color: #084a6f;
}

.org-logo {
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #084a6f;
}

.item a:hover {
  background: rgb(8, 74, 111, 0.1);
}

.submenu-item:hover {
  background: rgb(8, 74, 111, 0.1);
}

.submenu .menu-title:hover {
  background: rgb(8, 74, 111, 0.1);
}

.menu-items .item a.active-sub {
  color: #084a6f;
}

.btn-org-color {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: var(--main-color) !important;
  --bs-btn-hover-color: #cdcdcd !important;
  --bs-btn-hover-bg: var(--sub-color-accent) !important;
}

/*==========================
	ACCENT COLORS: L TO D
============================*/

.accent-1 {
  color: #005280;
}
.accent-2 {
  color: #00253e;
}
.accent-3 {
  color: #084a6f;
}
