/*==========================
	Color Scheme
============================*/
body {
    font-family: "Montserrat", sans-serif;
  }

  .edit_navbar{
    margin-left: 2%;
  }

  .emoji {
    filter: grayscale(100%);
  }

  .toggle-btn {
    display: flex;
    justify-content: flex-end;
  }

  .toggle-btn button {
    background-color: transparent;
    border: none;
    padding-bottom: 1.5rem;
  }

  .toggle-btn button:focus {
    outline: none;
  }

  .emoji:hover,
  .emoji:focus {
    filter: none;
  }

  .emoji-size{
    font-size: calc(1.5rem + 1.5vw);
  }
  
  .candidate-info {
    display: flex;
    align-items: center;
  }
  
  .candidate-info img {
    margin-right: 10px; 
    border-radius: 10px;
    border: 2px solid #ccc;
  }
  
  .candidate-info div {
    display: block;
  }
  
  .candidate-info div:nth-child(2) {
    white-space: nowrap;
  }
  
  .candidate-info div:nth-child(2)::after {
    content: '\A';
    white-space: pre;
  }

  .title {
    color: #084A6F;
    background-color: white; 
    border-radius: 10px; 
    border: 2px solid #ccc;
  }

  .border-frame {
    background-color: white; 
    border-radius: 10px; 
    border: 2px solid #ccc;
  }

  .title-2 {
    color: white;
    background-color: #084A6F;
    border-top-left-radius: 10px;  
    border-top-right-radius: 10px;  
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    letter-spacing: 2px;
  }

  .reminder {
    background-color: white; 
    border-radius: 10px; 
    border: 2px solid #ccc;
  }

  .reminder button {
    border: none; 
    background-color: #fff; 
    cursor: pointer;
  }

  .reminder button.selected {
    background-color: #cce5ff; 
  }

  .subtitle {
    padding-left: 3% ;
  }

    .spacing {
        letter-spacing: 2px;
    }
    .main-color {
        color: #084A6F;
        background-color: #084A6F;
    }
    .text-position {
        color: #084A6F;
        padding-top: 3%;
        padding-left: 3%;
    }

 .button-submit {
  border: #084A6F;
  border-radius: 10px;
  background-color: #084A6F;
  color: #fff;
  font-size: medium;
 }

    

/* Lightest to Darkest */
.accent-1 {
    color: #005280;
}

.accent-2 {
    color: #00253E;
}

.accent-3 {
    color: #084A6F;
}