/*==========================
	Color Scheme
============================*/

.main-color {
    color: #A60000;
}

/* Lightest to Darkest */
.accent-1 {
    color: #C20E31;
}

.accent-2 {
    color: #A60000;
}

.accent-3 {
    color: #81171B;
}