/*==========================
	Color Scheme
============================*/

.main-color {
    color: #026644;
}

/* Lightest to Darkest */
.accent-1 {
    color: #038A5C;
}

.accent-2 {
    color: #026644;;
}

.accent-3 {
    color: #153F31;
}