/*==========================
	Color Scheme
============================*/

.main-color {
    color: #4769B2;
}

/* Lightest to Darkest */
.accent-1 {
    color: #92B3FB;
}

.accent-2 {
    color: #5385F0;
}

.accent-3 {
    color: #2058CF;
}