/*==========================
	Color Scheme
============================*/

:root {
  --main-color: #4769b2;
  --sub-color-accent: rgb(71, 105, 178, 0.5);
  --hover-color-accent: rgb(71, 105, 178, 0.2);
}

.main-color {
  color: #4769b2;
}

.main-bg-color {
  background-color: #4769b2 !important;
}

.item a.active,
.submenu-item.active {
  background-color: #4769b2;
  color: white;
}

.item a.active:hover,
.submenu-item.active:hover {
  background-color: #4769b2;
  color: white;
}

.org-info {
  background-color: #4769b2;
}

.org-logo {
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #4769b2;
}

.item a:hover {
  background: rgb(71, 105, 178, 0.1);
}

.submenu-item:hover {
  background: rgb(71, 105, 178, 0.1);
}

.submenu .menu-title:hover {
  background: rgb(71, 105, 178, 0.1);
}

.menu-items .item a.active-sub {
  color: #4769b2;
}

.btn-org-color {
  --bs-btn-bg: var(--main-color) !important;
}

/*==========================
	ACCENT COLORS: L TO D
============================*/

.accent-1 {
  color: #92b3fb;
}

.accent-2 {
  color: #5385f0;
}

.accent-3 {
  color: #2058cf;
}
