
/* --- BREADCRUMBS --- */

/* FOR 2 LEVELS */

.btn-lvl-current {
    background-color: var(--main-color) !important;
    color: white !important;
    border-radius: 50px !important;
    padding: 10px 5px !important;
    font-weight: bold !important;
    z-index: 1 !important;
    cursor: default !important;
  }

  .btn-lvl-white {
    background-color: #fff !important;
    color: grey !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding: 10px 5px !important;
    font-weight: bold !important;
    z-index: 2 !important;
    cursor: default !important;
  }
  
  .btn-lvl-white {
    padding: 6px 30px !important;
  }
  
  .btn-lvl-current {
    padding: 6px 50px !important;
  }

  .btn-lvl-white + .btn-lvl-current {
    margin-left: -30px !important;
  }


/* FOR 3 LEVELS */
.btn-back {
    background-color: #fff !important;
    color: grey !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding: 10px 5px !important;
    font-weight: bold !important;
    z-index: 2 !important;
}

.btn-back:hover {
    color: var(--bs-gray-300) !important;
}
.btn-current {
    background-color: var(--main-color) !important;
    color: white !important;
    border: 50px !important;
    padding: 10px 5px !important;
    font-weight: bold !important;
    z-index: 1 !important;
    cursor: default !important;
  }

  .btn-white {
    background-color: #fff !important;
    color: grey !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding: 10px 5px !important;
    font-weight: bold !important;
    z-index: 2 !important;
    cursor: default !important;
  }
  
  /* Horizontal padding */
  
  .btn-white {
    padding: 6px 30px !important;
  }

  .btn-back {
    padding: 6px 50px !important; 
  }
  
  .btn-current {
    padding: 6px 50px !important;
  }

  .btn-white + .btn-back {
    margin-left: -30px !important;
  }
  
  .btn-back + .btn-current {
    margin-left: -30px !important;
  }

.breadcrumbs button {
    border: none !important;
}

.information p {
    margin-bottom: 0 !important;
  }
  
  .confirm-delete p {
    margin-bottom: 0 !important;
  }
  
  select, select:focus, select:active, select:valid, select:checked {
    border: none !important;
    outline: 0 !important;
  }

  select option{
    padding: 5px !important;
}
  
  .del-no-border {
    font-size: 1rem;
    background-color: #fff !important;
    border: none !important;
    color: var(--danger);
    text-decoration: underline;
  }

  .del-no-border:hover {
    color: var(--bs-gray-500);
  }

  .role-background {
    padding: 0.2rem 1rem;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.03rem
  }
  
  .admin{
    background-color: var(--primary) !important;
    color: #fff;
  }
  
  .head_admin {
    background-color: var(--light-green) !important;
    color: white !important; 
  } 
  
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .card-body{
    border: none;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
  }
  
 