body{
  overflow-x: hidden !important;
}
main{
  overflow-x: hidden !important;
}
.position-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 .anonymous-text{
  font-weight: 700;
  color: #949494;
  font-size: small;
 }
  
  
.positions-dropdown{
  
    border-radius: 16px;
    border: 0;
    height: 1.7rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    
}
@media (max-width: 990px) {
  .d-lg-block {
    display: none !important;
  }
}

.font-size-change{
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.vw-1{
font-size: 0.8rem;
}
.no-break{
  white-space: nowrap;
}
.container-columns{
  align-items: center;
  display: flex;
  justify-content: center;
}
.main-text {

    font-weight: 800;
    letter-spacing: 2px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Set default font to Montserrat */
  }


  .chart-container{

    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 0px;
  }
  .fs-20{
    font-size: 20px;
  }
  .card{
    border-radius: 15px;
    border: none;
  }
  @media screen and (max-width: 450px) {
    /* Apply styles when the width is below 450 pixels */
    .display-adjust {
        display: block;
    }
}
  .fw-600{
    font-weight: 600;
    letter-spacing: 1px;
  }
  .fw-700{
    font-weight: 700;
    letter-spacing: 1px;
  }
  .border-left {
    border-left: 2px solid #D0D0D0; /* Default border style */
}
/* Hide the dropdown symbol when there are no positions */
.no-positions {
  appearance: none; /* Hide the default arrow */
  padding-right: 20px;
  padding-left: 20px;

}


@media (max-width: 1200px) {
    .border-left {
        border-top: 2px solid #D0D0D0; /* Change to border-top when screen width is less than 1200px */
        border-left: none; /* Remove border-left */
        margin-top: 40px;
    }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #41AE32;
}

input:focus + .slider {
  box-shadow: 0 0 1px #41AE32;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  .card-edit{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .metrics-header{
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }
.metrics-content{
 letter-spacing: 1px;
 font-size: 1.2rem;

}
.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary-metrics-header{
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.secondary-metrics-content{
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  white-space: nowrap;
}
@media (max-width: 360px) {
  .secondary-metrics-header{
    font-size: 0.6rem !important;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  .secondary-metrics-content{
    font-size: 0.9rem !important;
    font-weight: bold;
    letter-spacing: 1.5px;
    white-space: nowrap;
  }
}
.navigate-images{
  width: 170px;
  height: 130px;
}
.navigate-text{
  font-size: 0.65rem;
}
.secondary-metrics-number {
  font-size: 1rem;
  font-weight: bold;
  color:white;
}
/* Custom classes for responsive display */
@media (max-width: 420px) {
  .d-cm-block {
    display: block;
  }
  .d-cm-flex {
    display: none; /* or any other desired styling */
  }
}

@media (min-width: 421px) {
  .d-cm-block {
    display: none; /* or any other desired styling */
  }
  .d-cm-flex {
    display: flex;
  }
}

.pink{
  color:#f45b9b !important;
}
.gray{
  color: #949494;
}

.margin-add{
  margin-right: 10px;


}
.flex-direct{
  flex-direction: column;
}

.admin-link {
  text-decoration: none;

  font-weight: bold;
  letter-spacing: 2px;
}