body {
    font-family: "Montserrat", sans-serif;
    background-color: #f2f2f2 ;
  }

main {
  margin-left: 5%;
  margin-right: 5%;
}
  
  a { 
    color: gray;
    text-decoration: underline;
  }

  .btn-close {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 0;
    line-height: 0;
    font-size: 10px;
  }

  .greetings-blue{
    color: #4870C4;
    font-size: 24px;
    display: inline;
  }

  .greetings-red{
    color: #C82D26;
    font-size: 24px;
    display: inline;
  }

  .modal-body p {
    line-height: 1.6;
    color: black;
  }

  .adjust-modal .modal-dialog {
    max-width: 700px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.adjust-submit-modal .modal-dialog {
  max-width: 400px;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}



.modal-header .modal-title {
  margin: 0; 
  flex: 1; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.modal-header .btn-close {
  margin-left: auto; 
}

  .adjust-modal .modal-content {
    width: 100%; 
}

  .toggle-btn {
    display: flex;
    justify-content: flex-end;
  }
  
  .toggle-btn button {
    background-color: transparent;
    border: none;
    padding-bottom: 1.5rem;
  }
  
  .toggle-btn button:focus {
    outline: none;
  }
  
  .emoji-size{
    font-size: calc(1.5rem + 1.5vw);
  }
  
  .candidate-info {
    display: flex;
    align-items: center;
  }
  
  .candidate-info img {
    margin-right: 10px; 
    border-radius: 10px;
    border: 2px solid #ccc;
  }
  
  .candidate-info div {
    display: block;
  }
  
  .candidate-info div:nth-child(2) {
    white-space: nowrap;
  }
  
  .candidate-info div:nth-child(2)::after {
    content: '\A';
    white-space: pre;
  }
  
  .title {
    background-color: white; 
    border-radius: 10px; 
    border: 2px solid #ccc;
  }
  
  .border-frame {
    background-color: white; 
    border-radius: 10px; 
    border: 2px solid #ccc;
  }
  
  .title-2 {
    color: white;
    border-top-left-radius: 10px;  
    border-top-right-radius: 10px;  
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    letter-spacing: 2px;
  }


  .reminder {
    background-color: white; 
    border-radius: 10px; 
    border: 2px solid #ccc;
  }
  
  .reminder button {
    border: none; 
    background-color: #fff; 
    cursor: pointer;
  }
  
  .reminder button.selected {
    background-color: #cce5ff; 
  }
  
  .subtitle {
    padding-left: 3% ;
  }

  .subtitle-2 {
    padding-left: 12% ;
  }
    
  .spacing {
    letter-spacing: 2px;
  }
    
    .text-position {
        padding-top: 3%;
        padding-left: 3%;
    }

    .button-check {
      border-radius: 5px;
      border: none;
  }
  
    .button-submit {
      border-radius: 5px;
      border: none;
      color: #fff;
      font-weight: bold;
      font-size: medium;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 7px;
      padding-bottom: 7px;
     }
  
     .button-reset {
      border: none;
      color: #bbb;
      font-weight: bold;
      font-size: medium;
      background-color: none;
     }

  
      /* --- Footer --- */
      .footer {
        width: 100%;
        background-color: #fff;
        padding: 15px;
        bottom: 0;
        left: 0; /* Ensure the footer starts from the left edge */
      }
      
    
      
      .footer-left, .footer-right {
        flex: 1; /* Equal width for both sections */
      }
      
      .footer-right {
        margin-left: 20px; /* Add some spacing between sections */
      }
      
      
      .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center; /* Align items in the center horizontally */
        position: relative;
      }
      
      .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      
      .soc-med-icons {
        height: 22px;
        transition: ease transform 0.2s;
      }
      
      .soc-med-icons:hover {
        transform: translateY(-5px);
        cursor: pointer;
      }
      
      
      /* --- End: Footer --- */

  
  