.btn-lvl-current {
  background-color: var(--main-color) !important;
  color: white !important;
  border-radius: 10px !important;
  padding: 10px 5px !important;
  font-weight: bold !important;
  z-index: 1 !important;
  cursor: default !important;
}

.btn-lvl-white { 
  background-color: #fff !important;
  color: grey !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  padding: 10px 5px !important;
  font-weight: bold !important;
  z-index: 2 !important;
  cursor: default !important;
  float: right !important;
}

.btn-lvl-white {
  padding: 6px 30px !important;
}

.btn-lvl-current {
  padding: 6px 50px !important;
}

.btn-lvl-white + .btn-lvl-current {
  margin-left: -30px !important;
}


.btn-current {
  padding: 6px 50px !important;
}

.breadcrumbs button {
  border: none !important;
}

.container label {
  color: #212529;
}

.container input[type="text"],
.container input[type="file"]{
  width: 100%;
  padding: 0.375rem 0.75rem; 
  margin-bottom: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.container input[type="submit"] {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  cursor: pointer;
}

.container input[type="reset"] {
  color: #212529;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-title {
  color: var(--main-color);
  font-size: 34px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 10%;
  width: 90%;
}

.shorter-form-group {
  width: 80%; /* Adjust this value as needed */
  margin: 0 auto; /* Center the form group */
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group select{
  width: 100%;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  background-color: whitesmoke;
  color: rgb(5, 5, 5);
  outline:none;
}

input[type=text]:focus {
  border: 2px solid #4769B2;
  box-shadow: 0 0 3pt 1pt #D3D3D3;
  outline-width: 0px;
}

input[type="submit"],
input[type="reset"] {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
}

.form-group option {
  background-color: whitesmoke;
  color: rgb(5, 5, 5);
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #45a049;
}

input::placeholder {
  color: lightgray;
}

.button-create {
  background-color: var(--main-color) !important;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: auto;
  border-radius: 10px ;
  font-weight: bold;
  border: none;
}

.button-add {
  background-color: white;
  color: var(--main-color)!important;
  border-radius: 50px;
  padding: 5px 50px;
  font-weight: 800;
  z-index: 1;
  cursor: default;
}

.reset-button {
  background: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  color: #909090;
  text-decoration: underline;
  margin-right: 50px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
 
}

.card-box {
  margin: 3%;
}

.required {
  color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.input-error {
    border: 1px solid red !important;
}

.close-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px; 
}

.close-button svg {
    stroke: currentColor;
    
}

.close-button:hover svg {
    stroke: var(--main-color);
}


.blue-border {
        border-color: blue !important;
    }


    @media (max-width: 320px) {
        .breadcrumbs .align-items-start {
            margin-top: 1rem; /* Adjust margin-top to move the button below */
        }
    }

    @media (max-width: 320px) {

    .breadcrumbs-cont .col-md-11 {
    padding-left: 0 !important;
  }

    .hide-text {
    display: none;
  }
}
