*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.main {
  min-height: 100dvh;
}

@media only screen and (max-width: 600px) {
  h1,
  .fs-1 {
    font-size: calc(1.45rem + 1.25vw);
  }
  h2,
  .fs-2 {
    font-size: calc(1.18rem + 1.25vw);
  }
  h3,
  .fs-3 {
    font-size: calc(1rem + 1.25vw);
  }
  h4,
  .fs-4 {
    font-size: calc(1rem + 1vw);
  }
  h5,
  .fs-5 {
    font-size: calc(1rem + 0.6575vw);
  }
  h6,
  .fs-6 {
    font-size: calc(0.75rem + 0.6575vw);
  }
  .container-fluid .content-margin {
    margin: 1.75rem calc(0.25rem + 8vw);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 0.031px 0.031px var(--border-gray);
}
h1.page-title,
h2.page-title,
h3.page-title,
h4.page-title,
h5.page-title,
h6.page-title {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: max(1dvw, 0.5rem);
  margin-bottom: max(2dvw, 1rem);
}

@media only screen and (min-width: 600px) {
  .container-fluid .content-margin {
    margin: 1.75rem calc(4rem + 5vw);
  }
}
.org-txt-primary {
  color: var(--main-color);
}

.org-bg-primary {
  background-color: var(--main-color);
}

:root {
  --border-gray: #d9d9d9;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  scrollbar-gutter: stable;
}
body .btn {
  letter-spacing: 0.1rem;
  border: none;
}
body .btn.btn-sm {
  padding: clamp(0.4rem, 0.25rem + 0.1vw, 0.5rem) clamp(2rem, 0.75rem + 0.5vw, 3rem);
}
body .btn:not(nav.navbar .btn):not(nav.sidebar .btn) {
  font-weight: 700;
  box-shadow: var(--bs-box-shadow-sm);
}
body .btn:not(nav.navbar .btn):not(nav.sidebar .btn):active {
  box-shadow: none !important;
}
body .btn:not(nav.navbar .btn):not(nav.sidebar .btn).btn-primary {
  color: var(--white);
  background-color: var(--main-color);
}
body .btn:not(nav.navbar .btn):not(nav.sidebar .btn).btn-primary:disabled {
  opacity: 0.7;
  filter: brightness(120%);
}
body .btn:not(nav.navbar .btn):not(nav.sidebar .btn).btn-primary:hover {
  filter: brightness(120%);
}
body .btn:not(nav.navbar .btn):not(nav.sidebar .btn).btn-secondary:not(:disabled) {
  color: #515050;
  background-color: transparent;
  border: none;
}
body .btn:not(nav.navbar .btn):not(nav.sidebar .btn).btn-success:not(:disabled) {
  background-color: rgb(7, 136, 95);
}
body .modal {
  border-radius: 10px;
}
body .modal .modal-dialog .modal-header {
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--main-color);
}
body .modal .modal-dialog .modal-header .modal-title {
  letter-spacing: 0.2rem;
  font-weight: 800;
  flex-grow: 1;
  text-align: center;
}
body .modal .modal-dialog .modal-header button.modal-close {
  height: calc(1rem + 0.5vw);
  width: calc(1rem + 0.5vw);
  border: none;
  border-radius: 2rem;
  color: var(--main-color);
  background-color: var(--white);
}
body .modal .modal-dialog .modal-header button.modal-close svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal .modal-dialog .modal-header button.modal-close svg circle {
  color: transparent;
}
body .modal .modal-dialog .modal-header button.modal-close svg line {
  stroke-width: clamp(2px, 1px + 0.25dvw, 5px);
}
body .modal .modal-dialog .modal-body {
  padding: clamp(24px, 1.75rem + 0.5dvw, 48px);
}
body .modal .modal-dialog .modal-action {
  border: none;
  padding: 0;
  margin-bottom: clamp(0.75px, 0.75rem + 0.5dvw, 36px);
}
body .modal .modal-dialog .modal-action button {
  font-size: clamp(0.813rem, 0.6rem + 0.35vw, 2rem);
}
body .modal .modal-dialog .modal-footer {
  border: none;
  padding: 0 clamp(24px, 1.75rem + 0.5dvw, 48px);
  padding-bottom: clamp(24px, 1.75rem + 0.5dvw, 48px);
}
body .modal .modal-dialog .modal-footer button {
  font-size: clamp(0.813rem, 0.6rem + 0.35vw, 2rem);
}
body .ql-toolbar,
body .ql-editor {
  border: clamp(1px, 1px + 0.01dvw, 5px) solid var(--border-gray);
}
body .ql-toolbar {
  margin-bottom: 0;
}
body .ql-editor {
  transform: translateY(-1%);
  margin-top: 0;
}

@media only screen and (max-width: 780px) {
  div.secondary-nav-container {
    max-width: clamp(300px, 100%, 100%);
  }
}

ul.nav {
  flex-wrap: nowrap;
  text-wrap: nowrap;
  border-bottom: calc(1px + 0.01dvw) solid var(--main-color);
  margin-bottom: max(2dvw, 0.75rem);
  overflow-x: auto;
  overflow-x: auto;
}
@media only screen and (min-width: 780px) {
  ul.nav {
    display: flex;
    justify-content: space-between;
  }
  ul.nav li.nav-item:not(:last-child) {
    margin-right: 0.75rem;
  }
}
@media only screen and (max-width: 780px) {
  ul.nav li.nav-item:not(:last-child) {
    margin-right: 1.5rem;
  }
}
ul li.nav-item a.secondary-nav {
  color: var(--black);
  font-size: calc(0.75rem + 0.4vw);
  height: 100%;
}
ul li.nav-item a.secondary-nav:hover {
  color: var(--black);
}
ul li.nav-item a.secondary-nav.active {
  color: var(--main-color);
  color: var(--main-color);
  font-weight: bold;
  border-bottom: calc(1.5px + 0.25dvw) solid var(--main-color);
  border-bottom: calc(1.5px + 0.25dvw) solid var(--main-color);
}

main.main {
  overflow: visible;
}
@media only screen and (max-height: 600px) {
  main.main {
    height: calc(121dvh - 104.95px);
  }
}
@media only screen and (min-height: 601px) and (hover: none) {
  main.main {
    height: calc(70dvh - 104.95px);
  }
}
main.main .card-box .card-header {
  display: grid;
  place-items: center;
  background-color: rgb(217, 217, 217);
  padding: 0.5rem 2rem;
}
main.main .card-box .card-header h3 {
  margin: 1rem;
}
main.main .card-box .card-body {
  padding: 2rem;
}
@media only screen and (max-width: 600px) {
  main.main .card-box .card-body {
    padding: 0.5rem;
  }
}

div.datepickers-container {
  z-index: 1001;
}
div.datepickers-container div.datepicker {
  font-size: clamp(1rem, 0.75rem + 0.45vw, 24px);
}

#example_wrapper.dt-container:first-child .mt-2 {
  margin-top: 0 !important;
}/*# sourceMappingURL=configuration.css.map */