*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.main {
  min-height: 100dvh;
}

@media only screen and (max-width: 600px) {
  h1,
  .fs-1 {
    font-size: calc(1.45rem + 1.25vw);
  }
  h2,
  .fs-2 {
    font-size: calc(1.18rem + 1.25vw);
  }
  h3,
  .fs-3 {
    font-size: calc(1rem + 1.25vw);
  }
  h4,
  .fs-4 {
    font-size: calc(1rem + 1vw);
  }
  h5,
  .fs-5 {
    font-size: calc(1rem + 0.6575vw);
  }
  h6,
  .fs-6 {
    font-size: calc(0.75rem + 0.6575vw);
  }
  .container-fluid .content-margin {
    margin: 1.75rem calc(0.25rem + 8vw);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 0.031px 0.031px var(--border-gray);
}
h1.page-title,
h2.page-title,
h3.page-title,
h4.page-title,
h5.page-title,
h6.page-title {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: max(1dvw, 0.5rem);
  margin-bottom: max(2dvw, 1rem);
}

@media only screen and (min-width: 600px) {
  .container-fluid .content-margin {
    margin: 1.75rem calc(4rem + 5vw);
  }
}
.org-txt-primary {
  color: var(--main-color);
}

.org-bg-primary {
  background-color: var(--main-color);
}

main.main div.dt-container table tr {
  min-height: calc(1rem + 3vw);
  height: calc(1rem + 3vw);
}

main.main div.dt-container table thead {
  background-color: var(--border-gray);
}
main.main div.dt-container table tr {
  vertical-align: middle;
}
main.main div.dt-container table tr td:first-child,
main.main div.dt-container table tr th:first-child {
  text-align: right;
  align-items: end;
}
main.main div.dt-container .toolbar button.btn-primary {
  border-radius: 50%;
  padding: clamp(0.5rem, 0.25rem + 0.01vw, 1.5dvw) clamp(1rem, 0.5rem + 0.02vw, 3dvw);
}
main.main div.dt-container .toolbar button.btn-primary:not(:last-child) {
  margin-right: clamp(1.5rem, 0.5rem + 0.01vw, 1.5dvw);
}
main.main div.dt-container .dt-search input[type=search] {
  border: clamp(0.063rem, 0.031rem + 0.01vw, 0.05vw) solid var(--main-color);
  height: clamp(2rem, 1.5rem + 0.2vw, 2vw);
}
main.main div.dt-container .dt-search input[type=search]:focus {
  background-color: var(--white);
}

.custom-checkbox {
  position: relative;
}

.custom-checkbox input[type=checkbox] {
  opacity: 0;
  width: clamp(1.5rem, 0.75rem + 1vw, 5vw);
  height: clamp(1.5rem, 0.75rem + 1vw, 5vw);
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}

.custom-checkbox label:before {
  width: clamp(1rem, 0.5rem + 0.75vw, 1.5vw);
  height: clamp(1rem, 0.5rem + 0.75vw, 1.5vw);
}

.custom-checkbox label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}

.custom-checkbox input[type=checkbox]:checked + label:after {
  content: "";
  position: absolute;
  right: calc(1.5rem + 0.1dvw);
  top: calc(0.6rem + 1dvw);
  width: clamp(0.313rem, 0.15rem + 0.15vw, 2vw);
  height: clamp(0.573rem, 0.35rem + 0.15vw, 2vw);
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}

.custom-checkbox input[type=checkbox]:checked + label:before {
  border-color: #03A9F4;
  background: #03A9F4;
}

.custom-checkbox input[type=checkbox]:checked + label:after {
  border-color: #fff;
}

.custom-checkbox input[type=checkbox]:disabled + label:before {
  color: #b8b8b8;
  cursor: auto;
  box-shadow: none;
  background: #ddd;
}/*# sourceMappingURL=election-schedule.css.map */