/* --- BREADCRUMBS --- */

/* FOR 2 LEVELS */

.btn-lvl-current {
    background-color: var(--main-color) !important;
    color: white !important;
    border-radius: 50px !important;
    padding: 10px 5px !important;
    font-weight: bold !important;
    z-index: 1 !important;
    cursor: default !important;
  }

  .btn-lvl-white {
    background-color: #fff !important;
    color: grey !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding: 10px 5px !important;
    font-weight: bold !important;
    z-index: 2 !important;
    cursor: default !important;
  }
  
  .btn-lvl-white {
    padding: 6px 30px !important;
  }
  
  .btn-lvl-current {
    padding: 6px 50px !important;
  }

  .btn-lvl-white + .btn-lvl-current {
    margin-left: -30px !important;
  }


/* FOR 3 LEVELS */
.btn-back {
    background-color: #fff !important;
    color: grey !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding: 10px 5px !important;
    font-weight: bold !important;
    z-index: 2 !important;
}

.btn-back:hover {
    color: var(--bs-gray-300) !important;
}
.btn-current {
    background-color: var(--main-color) !important;
    color: white !important;
    border: 50px !important;
    padding: 10px 5px !important;
    font-weight: bold !important;
    z-index: 1 !important;
    cursor: default !important;
  }

  .btn-white {
    background-color: #fff !important;
    color: grey !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding: 10px 5px !important;
    font-weight: bold !important;
    z-index: 2 !important;
    cursor: default !important;
  }
  
  /* Horizontal padding */
  
  .btn-white {
    padding: 6px 30px !important;
  }

  .btn-back {
    padding: 6px 50px !important; 
  }
  
  .btn-current {
    padding: 6px 50px !important;
  }

  .btn-white + .btn-back {
    margin-left: -30px !important;
  }
  
  .btn-back + .btn-current {
    margin-left: -30px !important;
  }

.breadcrumbs button {
    border: none !important;
}



/* --- VALIDATE ACCOUNT --- */

.confirm-delete p {
  margin-bottom: 0 !important;
}

.funcs a {
    color: var(--main-black) !important;
}
.funcs p:hover, i:hover {
    cursor: pointer;
    color: var(--bs-gray-500) !important;
}

.cor {
    border: 1.8px solid var(--bs-gray-300);
    border-radius: .8%;
    padding: .8%;
}

.btn-cancel {
  color: #000 !important;
  background-color: #CDCDCD;
}

.btn-cancel:hover {
  color: #00000064 !important;
  background-color: #CDCDCD;
}

.light-gray {
  color: var(--bs-gray-250);
}