/* --- BREADCRUMBS --- */

/* FOR 2 LEVELS */

.btn-lvl-current {
  background-color: var(--main-color) !important;
  color: white !important;
  border-radius: 50px !important;
  padding: 10px 5px !important;
  font-weight: bold !important;
  z-index: 1 !important;
  cursor: default !important;
}

.btn-lvl-white {
  background-color: #fff !important;
  color: grey !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  padding: 10px 5px !important;
  font-weight: bold !important;
  z-index: 2 !important;
  cursor: default !important;
}

.btn-lvl-white {
  padding: 6px 30px !important;
}

.btn-lvl-current {
  padding: 6px 50px !important;
}

.btn-lvl-white + .btn-lvl-current {
  margin-left: -30px !important;
}

/* FOR 3 LEVELS */
.btn-back {
  background-color: #fff !important;
  color: grey !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  padding: 10px 5px !important;
  font-weight: bold !important;
  z-index: 2 !important;
}

.btn-back:hover {
  color: var(--bs-gray-300) !important;
}
.btn-current {
  background-color: var(--main-color) !important;
  color: white !important;
  border: 50px !important;
  padding: 10px 5px !important;
  font-weight: bold !important;
  z-index: 1 !important;
  cursor: default !important;
}

.btn-white {
  background-color: #fff !important;
  color: grey !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  padding: 10px 5px !important;
  font-weight: bold !important;
  z-index: 2 !important;
  cursor: default !important;
}

/* Horizontal padding */

.btn-white {
  padding: 6px 30px !important;
}

.btn-back {
  padding: 6px 50px 6px 20px !important;
}

.btn-current {
  padding: 6px 50px !important;
}

.btn-white + .btn-back {
  margin-left: -30px !important;
}

.btn-back + .btn-current {
  margin-left: -30px !important;
}

.breadcrumbs button {
  border: none !important;
}

.role-background {
  padding: 0.2rem 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.03rem
}

.head-admin {
  background-color: var(--primary) !important;
  color: #fff;
}

.admin {
  background-color: var(--light-green) !important;
  color: white !important;
}


.confirm-delete p {
  margin-bottom: 0 !important;
}

.funcs a {
    color: var(--main-black) !important;
}
.funcs p:hover, i:hover {
    cursor: pointer;
    color: var(--bs-gray-500) !important;
}

.btn-cancel {
  color: #000 !important;
  background-color: #CDCDCD;
}

.btn-cancel:hover {
  color: #00000064 !important;
  background-color: #CDCDCD;
}

.light-gray {
  color: var(--bs-gray-250);
}

/* Hide only the filter checkboxes */
.filter-checkbox {
  display: none;
}

/* Style for the filter custom checkbox */
.filter-custom-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
}

/* Style the checkmark for filter checkbox */
.filter-custom-checkbox::after {
  content: '';
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Show checkmark when filter checkbox is checked */
.filter-checkbox:checked + .filter-custom-checkbox::after {
  display: block;
}

/* Change background color when filter checkbox is checked */
.filter-checkbox:checked + .filter-custom-checkbox {
  background-color: var(--main-color); 
  border-color: var(--main-color);  
}

.committee-add {
  background-color: white !important;
  color: var(--main-color)!important;
  border-radius: 10px;
  padding: 5px 50px;
  font-weight: 800;
  z-index: 1;
  cursor: default;
}

/* --- MEDIAS --- */

@media (min-width: 541px) {
  .filters-sort {
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .delete-xs {
    display: none;
  }

  .search-container {
    padding-left: 1rem;
  }

  .search-input {
    width: 120px;
  }
}

@media (max-width: 540px) {

  .main {
    padding-top: 2.2rem !important;
  }
  
  /* Adjustment of contents */
  #pendingTable {
    overflow-x: auto;
    width: 100%;
    display: block;
  }

  .card-box,
  .container .container-fluid {
    padding: 0 !important;
  }

  .table-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .breadcrumbs-cont .col-md-11 {
    padding-left: 0 !important;
  }
  /* -- Adjustment of contents */

  .hide-text {
    display: none;
  }

  /* Empty States */
  .no-registration {
    margin-left: 0.6rem;
  }

  .no-registration p {
    font-size: 0.8rem;
  }
  /* -- Empty States */
}

@media (max-width: 912px) {
  .col-md-12 {
    display: block;
    text-align: center; /* Center all content */
  }

  .no-registration {
    overflow: hidden !important;
  }

  #adminTable {
    overflow-x: auto;
    display: block;
    width: 100%;
  }

  .verified-container {
    margin-top: 2rem !important;
  }

  .tl-header {
    white-space: nowrap; /* Prevent text from wrapping */
  }

  .delete-text {
    display: none;
  }

  .delete-xs {
    display: inline-block !important;
  }

  /* Header Filters */

  .filters-sort {
    margin-left: 1rem;
    text-align: start;
    display: block !important;
    clear: both !important;
    flex: 1 1 100%;
  }

  .search-container {
    padding-left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    text-align: start;
    margin-bottom: 2rem;
  }

  .search-input {
    width: 80% !important; /* Set the width to 200px */
    box-sizing: border-box;
    margin-left: 0.5rem;
  }
  /* --- Header Filters */

  /* Pagination */

  .clearfix {
    flex-direction: column;
    align-items: flex-end;
  }

  .pagination {
    margin-top: 1rem; /* Add some space above pagination on smaller screens */
  }

  .buttons-toggle-delete {
    display: flex;
    justify-content: start;
  }
  /* -- Pagination */
}

.breadcrumbs {
  flex-wrap: wrap;
}

.main-buttons {
  flex-shrink: 0;
  white-space: nowrap;
}

.add-committee-button {
  flex-grow: 1;
  text-align: right;
}

.committee-add {
  white-space: nowrap;
}

@media (max-width: 575px) {
  .breadcrumbs {
      justify-content: center;
  }

  .add-committee-button {
      width: 100%;
      margin-top: 0.5rem;
      text-align: center;
  }

  .committee-add {
      width: 100%;
  }

  .button-text {
      font-size: 0.8rem;
  }

  .btn-lvl-white, .btn-lvl-current {
      font-size: 0.7rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .button-text {
      font-size: 0.9rem;
  }

  .committee-members-title {
    font-size: 11px;
  }
  
}

.committee-members-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

/* --- END OF MEDIAS --- */