/* Our Story */
.carousel {
  height: 600px;
  width: 600px;
  overflow: hidden;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-image,
.carousel-image-author {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-image-author {
  border-radius: 50%;
  border: 9px #9bb2e2 solid;
}

.our-story-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.our-story-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 7%;
}

/* Flexbox to equalize heights */
.team-image {
  display: flex;
  overflow: hidden;
  height: 18%;
}

.department-box {
  background-color: #d9e0f0;
  border-radius: 70px;
  padding: 5%;
  text-align: start;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow: hidden; /* Prevent content from overflowing */
}

#carouselDepartment{
  padding: 3% 5% 0% 5%; /*Top Right Bottom Left*/
}
.department-icon {
  text-align: end;
}

.department-name {
  font-weight: 600;
  color: black !important;
  font-size: 24px; /* Base font size */
}

.department-definition {
  font-weight: 500;
  color: black !important;
  font-size: 16px;
}

.ivote-our-story {
  width: 7%;
}

.our-story-subtitle {
  font-weight: 500;
}

.quote-image {
  width: 35%;
  transform: translate(12%, 0%);
  z-index: 1;
}

.department-quote {
  border: solid 10px;
  border-color: #9bb2e2;
  border-radius: 50%;
  height: 100px;
}

.quote-text {
  width: 65%;
  /* padding-left: 5%; */
}

.hi {
  transform: translate(-12%, 0%);
  background-color: #9bb2e2;
  padding: 5%;
  z-index: 0;
  border-radius: 70px;
}
.quote-mark {
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
}
.quote {
  color: white;
  text-align: start;
  font-size: 13px;
  font-weight: 500;
}

.quote-name {
  color: white;
  text-align: start;
  font-size: 13px;
  font-weight: 600;
  padding-left: 5%;
}

.authorQuoteBox {
  background-color: #9bb2e2;
  border-radius: 50px;
}

.quotationMark {
  color: black;
  font-size: 80px;
  margin: 0%;
  padding: 0%;
  text-align: end;
}

.author {
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.quoteBox {
  background-color: #9bb2e2;
  border-radius: 50px;
  text-align: start;
  padding: 3% 2% 0% 5%;
  transform: translate(-12%, 0%);
  z-index: 0;
}

.quotePic {
  transform: translate(0%, 0%);
  z-index: 1;
}

.quoteText {
  padding: 0%;
  margin: 0%;
  text-align: end;
}

.carousel-image {
  height: 100%; /* Ensure images fill the height of the carousel container */
  object-fit: cover; /* Maintain aspect ratio and cover the carousel item */
}

.image-container-small,
.image-container-big {
  height: 100px;
  overflow: hidden;
}

.image-container-author {
  height: 150px;
  width: 150px;
}

.image-container-author-quote {
  text-align: start;
}

.authorQuote {
  color: black;
  font-weight: 500;
  font-size: 14px;
  padding: 5% 0% 0% 0%; /*Top Right Bottom Left*/
}

.authorName {
  color: black;
  font-weight: 600;
  font-size: 14px;
}

#carouselMain,
#carouselBigPic,
#carouselSmallPic {
  border-radius: 50px;
}

#carouselIndicatorsCopy{
  color: black;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
}

.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  margin: 0 7% !important;
}

.carousel-indicators .active {
  background-color: #fff;
  color: #9bb2e2;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
  height: 10%;
  font-size: 2rem;
  color: #9bb2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #9bb2e2;
  color: white;
}

.carousel-control-prev {
  left: 5%; /* Adjust position from the left */
}

.carousel-control-next {
  right: 5%; /* Adjust position from the right */
}

.carousel-control-prev i,
.carousel-control-next i {
  display: inline-block;
  line-height: 1;
}

.carousel-shadow {
  position: relative; /* Ensure the container is positioned relatively */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-shadow::after {
  content: "";
  display: block;
  width: 100%;
  height: 40%; /* Adjust height as needed for the gradient effect */
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.5),
    transparent
  ); /* Gradient effect */
  border-radius: 0 0 50px 50px; /* Match the border-radius of the carousel */
}

/* Media Queries */
@media (max-width: 1280px) {
  .carousel {
    height: 500px;
    width: 500px;
  }
  .image-container-small,
  .image-container-big {
    height: 95px;
  }
  .department-box {
    padding: 4%;
    border-radius: 50px;
  }
  .department-name {
    font-size: 22px;
    padding: 5% 0% 0% 5%; /*Top Right Bottom Left*/
  }
  .department-definition {
    font-size: 15px;
    padding: 0% 5% 0% 5%; /*Top Right Bottom Left*/
  }
  .authorQuote, .authorName {
    font-size: 13px;
  }
  .quotationMark {
    font-size: 70px;
  }
  .ivote-our-story {
    width: 10%;
  }

  .authorQuoteBox {
    border-radius: 35px;
  }

  .image-container-author {
    height: 105px;
    width: 105px;
  }
}

@media (max-width: 1024px) {
  .carousel {
    height: 450px;
    width: 450px;
  }
  .image-container-small,
  .image-container-big {
    height: 90px;
  }
  .department-box {
    padding: 4%;
  }
  .department-name {
    font-size: 20px;
  }
  .department-definition {
    font-size: 14px;
  }
  .authorQuote, .authorName {
    font-size: 12px;
  }
  .quotationMark {
    font-size: 60px;
  }
  .ivote-our-story {
    width: 12%;
  }

  .authorQuoteBox {
    border-radius: 30px;
  }
  .image-container-author {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 912px) {
  .carousel {
    height: 400px;
    width: 400px;
  }

  .image-container-small,
  .image-container-big {
    height: 85px;
  }
  .department-box {
    padding: 3%;
  }
  .department-name {
    font-size: 18px;
  }
  .department-definition {
    font-size: 13px;
  }
  .authorQuote, .authorName {
    font-size: 11px;
  }
  .quotationMark {
    font-size: 50px;
  }
  .ivote-our-story {
    width: 10%;
  }
  .authorQuoteBox {
    border-radius: 25px;
  }
  .image-container-author {
    height: 90px;
    width: 90px;
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 350px;
    width: 350px;
  }

  .image-container-small,
  .image-container-big {
    height: 80px;
  }
  .department-box {
    padding: 3%;
  }
  .department-name {
    font-size: 16px;
  }
  .department-definition {
    font-size: 12px;
  }
  .authorQuote, .authorName {
    font-size: 10px;
  }
  .ivote-our-story {
    width: 15%;
    padding: 0% 5% 5% 0%; /*Top Right Bottom Left*/
  }
  .quotationMark {
    font-size: 40px;
  }
  .authorQuoteBox {
    border-radius: 30px;
  }
  .our-story-right {
    padding: 10%;
  }
}

@media (max-width: 540px) {
  .carousel {
    height: 300px;
    width: 300px;
  }

  .image-container-small,
  .image-container-big {
    height: 75px;
  }
  .department-box {
    padding: 2%;
  }
  .department-name {
    font-size: 14px;
  }
  .department-definition {
    font-size: 11px;
  }
  .authorQuote, .authorName {
    font-size: 9px;
  }
  .ivote-our-story {
    width: 10%;
  }

  .authorQuoteBox {
    border-radius: 18px;
  }
  .quotationMark {
    font-size: 30px;
  }
}
