.card-report {
  background-color: #F45B9B !important; 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.card-report h5{
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-left: 50px;
  letter-spacing: 5px;
  @media (max-width: 768px) {
    padding-left: 20px;
    font-size: 25px;
    letter-spacing: 1px;
  }
  @media (max-width: 480px) {
    padding-left: 20px;
    font-size: 10px;
    letter-spacing: 1px;
  }
}
.card-report p{
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding-left: 50px;
  @media (max-width: 768px) {
    padding-left: 20px;
    font-size: 13px;
  }
  @media (max-width: 480px) {
    padding-left: 20px;
    font-size: 10px;
  }
}
.btn {
  width: 150px;
  border: none !important;
  border-radius: 20px !important;
  position: relative;
  margin-top: 10px;
}
.btn:hover, .btn {
  background-color: #ffffff !important;
  color: #F45B9B !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.card-candidate {
  border: 3px solid #F45B9B !important;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding-left: 25px;
}
.card-candidate img, .card-runnerup img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 3px solid #F45B9B;
}
.card-candidate h3, .card-runnerup h3{
  font-size: 20px;
  font-weight: bold;
  @media (max-width: 768px) {
    font-size: 14px;
  }
  @media (max-width: 480px) {
    font-size: 12px;
  }
}
.card-candidate h5, .card-runnerup h5{
  font-size: 15px;
  color: #F45B9B;
  font-weight: bold;
  @media (max-width: 768px) {
    font-size: 10px;
  }
  @media (max-width: 480px) {
    font-size: 8px;
  }
}
.card-candidate p, .card-runnerup p{
  font-size: 20px;
  color: #F45B9B;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 10px;
}
.card-runnerup{
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding-left: 25px;
}