.card-report {
  margin-top: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 12px;
  @media (max-width: 1280px) {
    margin-top: 5px;
    }
  @media (max-width: 480px) {
    margin-top: 5px;
    }
}
.card-text strong, .card-title{
  text-transform: uppercase;
}
.card-report h5{
  font-size: 28px;
  font-weight: bold;
  color: white;
  padding-top: 30px;
  padding-left: 50px;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  @media (max-width: 768px) {
    padding-left: 20px;
    font-size: 25px;
    letter-spacing: 1px;
  }

  @media (max-width: 480px) {
    padding-left: 20px;
    font-size: 15px;
    padding-top: 18px;
  }

}

.card-report p{
  font-size: 13px;
  color: white;
  padding-top: 5px;
  padding-left: 59px;

  @media (max-width: 768px) {
    padding-left: 20px;
    font-size: 13px;
  }

  @media (max-width: 480px) {
    padding-left: 20px;
    font-size: 10px;
  }
}
.card-candidate {
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 90px !important;
  @media (max-width: 768px) {
    padding-left: 15px;
    }
  @media (max-width: 480px) {
    padding-left: 30px;
    height: 80px !important;
    }
}

.card-candidate img, .card-runnerup img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 90px;
  
  @media (max-width: 768px) {
    width: 55px;
    height: 55px;
  }
  @media (max-width: 480px) {
    width: 40px;
    height: 40px;
    margin-top: 1px;
    margin-left: -30px;
  }
}
.card-candidate h3, .card-runnerup h3{
  font-size: 17px;
  font-weight:bolder;
  margin-top: -7px;
  margin-right: 200px;
  @media (max-width: 1280px) {
    margin-left: -65px !important;
  }  
  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    margin-top: -1px;
    margin-bottom: 12px;
    font-size: 7px;
    font-weight:bolder;
    margin-right: 35px;
  }

}
.card-runnerup h2 , .card-candidate h2{
  font-size: 20px;
  font-weight:bolder;
  margin-top: 1px;
  @media (max-width: 1280px) {
    margin-left: 200px !important;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    margin-top: -25px !important;
    margin-bottom: 12px;
    margin-left: 40px !important;
    font-size: 7px !important;
    font-weight: bolder;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
  }
}

.card-candidate h5, .card-runnerup h5{
  font-size: 13px;
  font-weight: bolder;
  margin-right: 200px;
  margin-top: -10px;
  @media (max-width: 1280px) {
    margin-left: -65px !important;
  }  
  @media (max-width: 768px) {
    font-size: 10px;
  }

  @media (max-width: 480px) {
    font-size: 5px;
    margin-top: -10px;
    margin-right: 40px;
  }

}
.card-candidate p, .card-runnerup p{
  font-size: 20px;
  margin-top: 10px;
  margin-right: 100px;
  @media (max-width: 768px) {
    margin-right: 15px;
    margin-top: 14px;
    font-size: 20px;
  }
  @media (max-width: 480px) {
    font-size: 10px;
    margin-top: 15px;
    margin-left: -10px !important;
    margin-right: -10px !important;
    white-space: nowrap !important;
  }
}
.card-runnerup{
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 90px !important;
  @media (max-width: 768px) {
    padding-left: 15px;
    }
  @media (max-width: 480px) {
    padding-left: 30px;
    height: 80px !important;
    }
}
.card-body {
  height: 115px !important;
  border-radius: 10px;
  @media (max-width: 480px) {
    height: 100px !important;
    }
}
.card2{
  padding-top: 20px !important;
  background-color: white !important;
  @media (max-width: 480px) {
    height: 400px !important;
    margin-bottom: 20px !important;
    background-color: white !important;
    }
}
.card-body3 {
  height: 115px !important; 
  border-radius: 10px !important;
  padding-left: 50px !important;
  padding-top: 10px !important;
  @media (max-width: 480px) {
    height: 120px !important;
    padding-left: 10px !important;
    }
}
@media (max-width: 480px) {
 .card-report {
      height: 80px !important;
  }
}
.card-body card-candidate,.card-body card-runnerup{
  height: 80px !important;
}
.empty-text {
  padding-top: 35px;
  padding-right: 25px;
  color: white !important;
  @media (max-width: 768px) {
    font-size: 10px;
  }
  @media (max-width: 480px) {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 10px;
}
}
.btn-election, .btn-election1 {
  background-color: #ffffff;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  @media (max-width: 1280px) {
    margin-left: -200px;
  }
  @media (max-width: 480px) {
    font-size: 6px;
    width: 80px !important;
    height: 22px !important;
    margin-top: 67px !important;
    margin-right: 170px !important; 
  }
  @media (max-width: 390px) {
    font-size: 6px;
    width: 80px !important;
    height: 22px !important;
    margin-top: 67px !important;
    margin-right: 100px !important; 
  }
  
}
.btn-election1{
  float: right;
  padding-top: 3px;
}
@media (max-width: 480px) {
  .dropdown-item {
     width: 75px !important;
   }
 }

.btn-election:hover {
  color: #ffffff;
}
.btn-election1:hover{
  color: #ffffff !important;
}
.no-avail-candidate{
  color: black;
  font-weight: 500;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

footer {
  margin-top: auto;
}
.includes-components-footer {
  margin-top: auto;
}
.report-generator-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
  margin-top: 33px;
  margin-left: 350px;
  height: 50px;

  @media(max-width: 1920px) 
  {
    margin-left: 150px !important;
  }

  @media (max-width: 480px) {
    margin-top: 65px;
    font-size: 8px;
    font-weight: bold;
    height: 25px !important;
    margin-left: -90px !important;

  }
}
@media (max-width: 480px) {
  .feather-1xs {
    width: 13px; 
    height: 13px; 
  }
}
@media (max-width: 480px) {
  .responsive-icon {
      font-size: 12px; 
      width: 18px;    
      height: 18px;    
  }
}
/*.report-generator-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}*/
.card-header{
  height: 100px !important;
  background-color: white !important;
  border-radius: 5px !important;
  text-align: center;
  padding-top: 30px !important;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 40px !important;
  font-weight: 500;
  @media (max-width: 480px) {
      height: 75px !important;
      padding-top: 27px !important;    
      font-size: 15px;
      white-space: nowrap;
  }
}
.card-position{
  font-size: 17px;
  font-weight: bold;
  margin-top: -35px;
  margin-left: 350px;
}
.card-position2{
  font-size: 17px !important;
  font-weight: bold !important;
  margin-top: -35px !important;
  margin-left: 300px !important;
}
.btn-previous, .btn-next{
  background-color: white;
  color: black;
  border-color: transparent;
  border-radius: 5px;
  font-size: 13px;
  margin-right: 10px;
  @media (max-width: 480px) {
    margin-right: 10px !important;
}
}
.btn-next{
  height: 45px;
  width: 90px;
  @media (max-width: 480px) {
      width: 45px; 
      height: 45px;
      font-size: 0;
      display: inline-block;
      padding-left: 10px;
  }
}
.btn-next i, .btn-previous i {
  font-size: 14px;
  color: black;
}
.btn-previous{
  height: 45px;
  width: 110px;
  margin-left: 62%;
  @media (max-width: 1920px) {
    margin-left: 550px !important;
  }
  @media (max-width: 1280px) {
    margin-left: 450px !important;
  }
  @media (max-width: 480px) {
    width: 47px; 
    height: 45px;
    font-size: 0;
    display: inline-block;
    padding: 10px 15px;
    margin-left: 20px !important; 
}  

}
.btn-previous:active, .btn-next:active {
  background-color: #b3b3b3; 
}
.button-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 79%;
}
.btn-previous i, .btn-next i {
  margin-right: 10px;
}

.btn-convert {
  background-color: white;
  color: black;
  border-color: transparent;
  border-radius: 5px;
  font-size: 10px;
  margin-right: 10px;
  height: 45px;
  width: 200px;
  margin-left: 30%;
  @media (max-width: 480px) {
  margin-bottom: -5px;
  margin-right: 10px;
  height: 45px;
  width: 100px;
  font-size: 5px;
  margin-left: 10%;
}
}
.small-icon {
  width: 15px; 
  height: 15px; 
  vertical-align: middle; 
}
.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  font-size: 10px;
  display: none;
  position: absolute;
  background-color: white;
  margin-left: 60px;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  @media (max-width: 480px) {
    margin-left: 18px !important;
    min-width: 150px;
  }
}

.dropdown-content2 a {
  color: black;
  text-decoration: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
}

.dropdown-content2 a:hover {
  background-color: #ddd;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.card-graph{
background-color: white;
box-sizing: border-box;
border-radius: 15px;
height: 660px;
width: 100%;
margin-top: 70px;
@media (max-width: 1280px) {
  height: 630px;
}
@media (max-width: 480px) {
  height: 430px;
}
}
#myChart {
  padding: 60px 60px 40px 40px; 
  height: 50px; 
  width: 200px;
}
@media (max-width: 480px) {
  #myChart {
    padding: 10px 10px 10px 10px; 
  }
}

.popup{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.popup-content{
  height: 750px;
  width: 1000px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.popup-content h2{
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.button-container{
  display: flex;
  justify-content: center;
}
.btn-primary {
  margin-right: 1rem;
}
table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}
th, td {
  border: 0.5px solid black !important;
  padding: 10px;
  text-align: center !important;
}
th {
  font-size: 20px;
}
.popup-container h3{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.popup-container h2{
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
}
.popup-container h1{
  font-size: 30px;
  letter-spacing: 1px;
  text-align:left;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 40px;
}
.popup-container p{
  text-align:left;
  margin-left: 50px;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; /* Set default font to Montserrat */
}


.chart-container{

  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 0px;
}
.fs-20{
  font-size: 20px;
}
.card{
  border-radius: 15px;
  border: none;
}
@media screen and (max-width: 450px) {
  /* Apply styles when the width is below 450 pixels */
  .display-adjust {
      display: block;
  }
}
.fw-600{
  font-weight: 600;
  letter-spacing: 1px;
}
.fw-700{
  font-weight: 700;
  letter-spacing: 1px;
}
.border-left {
  border-left: 2px solid #D0D0D0; /* Default border style */
  @media (max-width: 480px) {
    margin-top: 20px !important;
    width: 200px !important;
  }
}
/* Hide the dropdown symbol when there are no positions */
.no-positions {
appearance: none; /* Hide the default arrow */
padding-right: 20px;
padding-left: 20px;

}


@media (max-width: 1200px) {
  .border-left {
      border-top: 2px solid #D0D0D0; /* Change to border-top when screen width is less than 1200px */
      border-left: none; /* Remove border-left */
      margin-top: 40px;
  }
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  .card-edit{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .metrics-header{
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    @media (max-width: 480px) {
      white-space: nowrap;
    }
  }
.metrics-content{
 letter-spacing: 1px;
 font-size: 1.2rem;

}
.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary-metrics-header{
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.secondary-metrics-content{
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2.5px;
  white-space: nowrap;
  @media (max-width: 480px) {
    letter-spacing: 0.5px;
    font-size: 13px ;
  }
}
.navigate-images{
  width: 170px;
  height: 130px;
}
.navigate-text{
  font-size: 0.65rem;
}
.secondary-metrics-number {
  font-size: 1rem;
  font-weight: bold;
  color:white;
}
.card-feedback {
  background-color: white;
  box-sizing: border-box;
  border-radius: 15px;
  height: 350px;
  width: 100%;
  margin-top: 70px;
  @media (max-width: 480px) {
      height: 180px;
  }
}

/* Emoji rating styles */
.emoji {
  position: relative;
  width: 50px; /* Adjust dimensions as needed */
  height: 50px; /* Adjust dimensions as needed */
  display: inline-block;
  background-size: cover;
  margin: 0 20px; /* Adjusted spacing between emojis */
}

.highlighted {
  color: #FFD700; /* Bright Yellow */
  filter: none;
}

.lowlight {
  color: #808080; /* Grayscale */
  filter: grayscale(100%);
}

.emoji::before,
.emoji::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%; /* Ensure round highlight */
}

.emoji::before {
  background-color: rgba(255, 215, 0, 0.3); /* Gold highlight color */
  opacity: 0; /* Initially invisible */
}

.emoji.highlighted::before {
  opacity: 1; /* Show the highlight when emoji is highlighted */
}

.emoji.lowlight {
  filter: grayscale(100%); /* Gray out low-rated emojis */
}

/* Emoji list styles */
.emoji ul {
  list-style-type: none;
  padding: 0;
}

.emoji li {
  display: inline-block;
  font-size: 70px; /* Adjust the size as needed */
  margin: 0 40px;
}
.highest-rating h1, .highest-rating h2 {
  font-size: 25px;
}
@media (max-width: 1280px) {
  .emoji li {
      margin: 0 30px;
  }
}
@media (max-width: 480px) {
  .emoji li {
      margin: 0 10px;
  }
}
.emoji li span {
  display: block;
  width: 100%;
  text-align: center;
}

/* Emoji Unicode characters */
.emoji .angry span::before {
  content: "😠"; /* Unicode character for angry emoji */
}

.emoji .sad span::before {
  content: "🙁"; /* Unicode character for sad emoji */
}

.emoji .ok span::before {
  content: "😐"; /* Unicode character for neutral emoji */
}

.emoji .good span::before {
  content: "😊"; /* Unicode character for good emoji */
}

.emoji .happy span::before {
  content: "😃"; /* Unicode character for happy emoji */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .emoji li {
      font-size: 1.5em; /* Adjust for smaller screens */
  }
}

@media (max-width: 576px) {
  .emoji li {
      font-size: 1em; /* Further adjust for smaller screens */
  }
}
@media (max-width: 480px) {
  .fs-3 {
    padding-left: 0px !important;
  }
}
.view-more{
  color: #1A73E8;
  cursor: pointer;
  @media (max-width: 480px) {
    font-size: 10px !important;
    }
}
.feedback-text{
  padding-left: 60px;
  padding-top: 30px;
  @media (max-width: 480px) {
    padding-left: 20px !important;
    padding-top: 20px !important;
    font-size: 5px !important;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}
.horizontal-align {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.horizontal-align h1 {
  margin: 0 27px !important;
  font-size: 25px !important;
  @media (max-width: 1280px) {
    margin: 0 -10px;
  }
  @media (max-width: 480px) {
    margin: 0 5px;
    font-size: 10px !important;
  }    
}
.horizontal-align h2 {
  margin: 0 20px;
  font-size: 15px !important;
  @media (max-width: 1280px) {
    margin: 0 30.5px;
  } 
  @media (max-width: 480px) {
    font-size: 5px !important;
  }    
}
.rating-item{
  margin-left: -40px;
  margin-top: -40px;
}
.form-control2, .form-control2:hover{
  margin-top: 38px ;
  width: 180px ;
  height: 33px ;
  padding-left: 10px ;
  padding-right: -20px ;
  margin-left: 870px ;
  border-radius: 25px ;
  font-size: 15px;
  color: white;
  border-style: none;
  @media (max-width: 1920px) {
    margin-left: 670px !important;
  }
  @media (max-width: 1280px) {
    margin-left: 600px !important;
  }
  @media (max-width: 1920px) {
    margin-left: 800px ;
    }
  @media (max-width: 480px) {
  margin-left: 130px !important;
  margin-top: -140px;
  width: 100px ;
  height: 20px ;
  font-size: 10px;
  } 
  }
  .comment {
    white-space: pre-wrap; /* Preserve white spaces and allow wrapping */
    word-wrap: break-word; /* Break long words */
    max-width: 100%; /* Ensure the comment doesn't exceed the container width */
    line-height: 1.5; /* Adjust line height as needed for better readability */
    color: black;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify; /* Justify the text */
}
.time-date{
  font-size: 10px;
  padding-right: 30px;
}
  .modal-text{
    padding-left: 30px;
  }
  .btn-close {
    position: relative;
    font-size: 10px;
    background-color: #b5b4b4 !important;
    color: white !important; /* Button text color */
    font-weight: bold;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 20px !important;
}

.btn-close i {
    color: white !important; /* Icon color */
}
  #positionSelect option {
  border: none;
  outline: none;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#positionSelect:focus {
  outline: none;
}
.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse !important;
  border: none !important;
}

.table th,
.table td {
  border: none !important;
  padding: 8px; /* Adjust padding as needed */
}

.table-hover tbody tr:hover {
  background-color: #F1F1F1 !important;
}

.table-row {
  border-bottom: 2px solid #F1F1F1 !important;
}

@media (max-width: 768px) {
  .table {
    overflow-x: auto;
    display: block;
  }
  .table th,
  .table td {
    white-space: nowrap;
  }
}