/* Specify font-family for specific elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background-color: #F45B9B;
  padding: 15px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar .logo {
  font-family: "Montserrat", sans-serif;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.sidebar .org-logo {
  width: 100px;
}
.sidebar h6 {
  text-align: center;
  color: #fff;
}

.menu-title {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}

.item a {
  font-family: "Montserrat", sans-serif;
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.item i {
  font-size: 12px;
}

.submenu-item {
  font-family: "Montserrat", sans-serif;
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.navbar-text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
}

.logo {
  font-size: 25px;
  padding: 0 15px;
}

.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}

.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}

.submenu-active .menu-items {
  transform: translateX(-56%);
}

.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  display: none;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu .menu-title i {
  margin-right: 10px;
}

.show-submenu ~ .submenu {
  display: block;
}

.navbar {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  position: fixed;
  color: #F45B9B;
  padding: 5px 10px;
  font-size: 25px;
  background: #fff;
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
  color: #F45B9B;
}

.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100;
  background: #F5F5F5;
}
.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}

.sidebar.close ~ .navbar {
  left: 0;
  width: 100%;
}
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F45B9B;
  color: #F45B9B;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  z-index: 1001;
}
.footer .container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */