body {
    font-family: "Montserrat", sans-serif;
    background-color: #f2f2f2;
  }
  input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
  .main-text {
    white-space: nowrap;
    margin-right: 10px !important;
    @media (max-width: 1280px) {
      margin-left: -20px !important;
    }
    @media (max-width: 480px) {
      margin-left: 5px !important;
    }
  }
  .sub-head h5 {
    font-weight: bold !important;
    font-size: 17px !important;
  }
  .sub-head2 h5 {
    font-weight: bold !important;
    font-size: 20px !important;
    padding-left: 15px;
    padding-top: 10px;
  }
  
  .custom-margin {
    margin-top: 30px !important;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  @media (max-width: 480px) {
    .col {
      margin-top: -30px !important;
    }
  }
  .detail {
    font-size: 10px;
  }
  .modal-content {
    border-radius: 30px !important;
  }
  .reminder {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ccc;
  }
  .reminder2 {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ccc;
    height: 427px !important;
  }
  
  .reminder-student {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ccc;
  }
  .success-color {
    color: #27ae60;
  }
  .subtitle {
    padding-left: 6%;
  }
  
  .spacing {
    letter-spacing: 2px;
  }
  
  .reminder {
    display: flex;
    align-items: center;
  }
  
  .font-weight1 {
    display: flex;
    flex-direction: column;
  }
  
  .sub-head,
  .detail {
    text-align: left;
  }
  
  .sub-head h5 {
    margin: 0;
  }
  
  .vertical-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    gap: 80px;
  }
  
  .sub-info {
    margin-left: 17px;
    font-weight: bold;
    font-size: 12px !important;
  }
  .reset-pass {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-group {
    position: relative;
  }
  
  .input-group::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 23%;
    border-right: 2px solid #ccc;
    height: 50%;
    z-index: 1000;
  }
  
  .input-group#reset-password::after {
    display: none;
  }
  .reset-password-password {
    background-color: white !important;
    border-radius: 100px;
    border: 2px solid #999999 !important;
    border-right: none !important;
    padding: 2% !important;
    padding-left: 40px !important;
  }
  .btn-secondary {
    background-color: #cdcdcd !important;
    color: #515050 !important;
    border-color: #cdcdcd !important;
  }
  
  .btn-secondary:hover {
    background-color: #999999 !important;
    color: white !important;
    border-color: #999999 !important;
  }
  .new-password {
    position: absolute;
    z-index: 1000;
    background-color: white;
    left: 8%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 12px;
    font-weight: bold;
  }
  #reset-password-toggle-1,
  #reset-password-toggle-2 {
    background-color: white !important;
    width: 75px !important;
    padding-right: 3% !important;
    color: #999999 !important;
    border: 2px solid #999999 !important;
    border-left: none !important;
    border-right: 2px solid #999999 !important;
  }
  .login-sign-in-button {
    color: white !important;
    width: 150px !important;
    height: 35px;
    border-radius: 10px;
    border: none;
  }
  .login-sign-in-button:disabled {
    color: white;
    background-color: #d9d9d9;
  }
  
  .dropdown-toggle::after {
    display: none !important;
  }
  
  .asterisk {
    color: red;
  }
  
  .button-check {
    border-radius: 5px;
    border: none;
    width: 200px !important;
    font-size: 10px !important;
  }
  .text-success{
    font-size: 15px !important;
  }
  .btn-close {
    position: relative;
    font-size: 10px;
    background-color: #ccc;
    color: #ffffff !important;
    font-weight: bold;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  
  .link-blue {
    color: #4169e1;
  }
  
  .custom-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent element */
    font-family: inherit; /* Inherit font family */
    font-size: inherit; /* Inherit font size */
    /* You can add more custom styles as needed */
  }
  
  .custom-link:hover,
  .custom-link:focus {
    color: inherit; /* Change color on hover/focus */
    text-decoration: underline; /* Add underline on hover/focus */
  }
  
  .des {
    font-weight: 500 !important;
    display: inline !important;
  }
  
  .title {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ccc;
  }
  
  .reminder {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ccc;
  }
  
  @media (max-width: 768px) {
    main {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  
  .button-submit {
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: medium;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  .button-submit[disabled] {
    background-color: #ccc !important;
    color: #666 !important;
  }
  
  .button-proceed {
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #1a73e8;
    font-weight: bold;
    font-size: medium;
    padding: 3px 35px; /* Consolidated padding */
  }
  
  .button-proceed:hover,
  .button-proceed:active {
    color: #fff;
    background-color: #1a73e87e; /* Hover and active state color */
  }
  
  .btn-gray {
    background-color: #ccc;
    color: #fff;
    font-size: medium;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  .btn-gray:hover {
    background-color: #cccccc9d;
    color: #fff;
  }
  
  .custom-close-btn {
    background-color: lightgray;
    border-radius: 50%;
    opacity: 1; /* Make the background color fully opaque */
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .custom-close-btn::before {
    content: "\00d7"; /* Unicode for multiplication sign (×) */
    color: white;
    font-size: 3.2em;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .custom-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent element */
    font-family: inherit; /* Inherit font family */
    font-size: inherit; /* Inherit font size */
    /* You can add more custom styles as needed */
  }
  
  .custom-link:hover,
  .custom-link:focus {
    color: inherit; /* Change color on hover/focus */
    text-decoration: underline; /* Add underline on hover/focus */
  }
  
  .error-border {
    border: 2px solid red !important;
  }
  
  .dark-gray a {
    text-decoration: none;
  }
  
  .dark-gray {
    color: #4d4d4d;
  }
  
  .main-red {
    color: #ea423c !important;
  }
  
  .main-blue {
    color: #5d83d1 !important;
  }
  
  .link-blue {
    color: #4169e1;
  }
  
  .dropdown-toggle::after {
    display: none !important;
  }
  
  .spacing {
    letter-spacing: 2px;
  }
  
  .information-title {
    color: #1a73e8;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  .info-sub {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  /* --- Footer --- */
  .footer {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    position: relative;
    bottom: 0;
    max-width: 100%;
    left: 0;
  }
  
  .footer-left {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    margin-left: 20px; /* Add some spacing between sections */
  }
  
  .vertical-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 2.61px;
    height: 70%;
    background-color: #e7e7e7 !important;
  }
  
  .horizontal-line {
    width: 80%;
    height: 2px;
    background-color: #e7e7e7;
  }
  
  .soc-med-icons {
    height: 22px;
    transition: ease transform 0.2s;
  }
  
  .soc-med-icons:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    .footer .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .footer-left,
    .footer-right {
      width: 100%;
      margin: 0;
      align-items: center; /* Center align items */
    }
    .footer-left {
      order: 1;
    }
    .footer-right {
      order: 2;
      margin-top: 20px; /* Adjust as needed */
      margin-left: 0;
    }
    .footer-left .row:last-child {
      order: 3;
      margin-top: auto; /* Push to the bottom */
      text-align: center; /* Center text content */
    }
    .footer .vertical-line {
      display: none;
    }
  }
  
  /* --- FEATHER ICONS SIZES --- */
  
  .fs-12 {
    font-size: 0.5rem;
  }
  
  .w-35 {
    width: 35% !important;
  }
  
  .link:hover {
    color: #4169e1 !important;
  }
  
  .flex-end {
    display: flex;
    justify-content: flex-end;
  }
  
  /* --- FEATHER ICONS SIZES --- */
  
  .im-cust-2 {
    margin-bottom: 0.188rem !important;
    margin-right: 0.1rem !important;
  }
  
  .im-cust {
    margin-bottom: 0.188rem !important;
    margin-right: 0.5rem !important;
  }
  
  .feather-2xs {
    width: 0.625em;
    height: 0.625em;
  }
  
  .feather-xs {
    width: 0.875em;
    height: 0.875em;
  }
  
  .feather-sm {
    width: 1em;
    height: 1em;
  }
  
  .feather-lg {
    width: 1.25em;
    height: 1.25em;
  }
  
  .feather-xl {
    width: 1.5em;
    height: 1.5em;
  }
  
  .feather-2xl {
    width: 2em;
    height: 2em;
  }
  
  /* --- End: Footer --- */
  
