@import 'utilities';

:root {
    --border-gray: #d9d9d9;
    --dark-gray: #969696;
    --box-shadow-size: 0 0 0 clamp(0.25rem, 0.25rem + 0.1vw, 1rem);

}

input.input-invalid {
    border: clamp(1px, 1px + 0.1vw, 5px) solid var(--danger) !important;

    &:focus-visible {
        box-shadow: var(--box-shadow-size) color-mix(in srgb, var(--danger) 25%, transparent) !important;
        outline: clamp(1px, 1px + 0.05vw, 5px) color-mix(in srgb, var(--danger) 25%, transparent) !important;
        border: clamp(1px, 1px + 0.1vw, 5px) solid var(--danger) !important;
    }
}

html,
body {
    margin: 0;
    height: 100%;
}

%table-row-height {
    min-height: calc(1rem + 1vw + 3.5vh);
    height: calc(1rem + 1vw + 3.5vh);
}

// .sidebar+.navbar .header-left {
//     transform: translateX(0);
//     transition: transform 0.2s ease-in;
// }

// // Moves the Hamburger Menu Icon Inside Sidebar when opened
// .sidebar:not(.close)+.navbar .header-left {
//     transform: translateX(-300%);
//     transition: transform 0.2s ease-in;
// }

body {
    scrollbar-gutter: stable;

    .form-control {

        &:valid,
        &:invalid,
        &.is-invalid {
            background-image: none;
        }

    }

    .btn {
        letter-spacing: 0.1rem;
        @extend %general-responsive-base-font-size;

        &:disabled {
            border: none;
        }

        // &:not([class*="btn-outline-"]) {
        //     border: none;
        // }


        &.btn-sm {
            padding: clamp(0.4rem, 0.25rem + 0.1vw, 0.5rem) clamp(2rem, 0.75rem + 0.5vw, 3rem);
        }

        &:not(nav.navbar .btn, nav.sidebar .btn) {
            padding: calc(0.1rem + 0.15vw + 0.2vh) calc(0.5rem + 0.4vw + 0.3vh);
            font-weight: 700;

            box-shadow: var(--bs-box-shadow-sm);

            &:active {
                box-shadow: none !important;
            }

            &.btn-primary {
                color: var(--white);
                background-color: var(--main-color);

                &:disabled {
                    opacity: 0.7;
                    filter: brightness(120%);
                }

                &:hover {
                    filter: brightness(120%);
                    background-color: var(--main-color);
                    border: clamp(1px, 1px + 0.01vw, 5px) solid light-dark(var(--main-color), var(--main-color));

                    svg {
                        stroke-width: clamp(2px, 1.5px + 0.05dvw, 4px);
                    }

                }

                &:active {}

                &:focus-visible {
                    box-shadow: var(--box-shadow-size) color-mix(in srgb, var(--main-color) 25%, transparent);
                }
            }

            &.btn-outline-primary {
                color: var(--main-color);
                border: clamp(1px, 1px + 0.01vw, 5px) solid light-dark(var(--main-color), var(--main-color));
                // outline: clamp(1px, 1px + 0.01vw, 5px) solid light-dark(var(--main-color), var(--main-color));

                &:disabled {
                    opacity: 0.7;
                    filter: brightness(120%);
                }

                &:hover {
                    color: var(--white);
                    background-color: var(--main-color);

                    svg {
                        stroke-width: clamp(2px, 1.5px + 0.05dvw, 4px);
                    }

                }

                &:active {}

                &:focus-visible {
                    box-shadow: var(--box-shadow-size) color-mix(in srgb, var(--main-color) 25%, transparent);
                }
            }

            &.btn-secondary:not(:disabled) {
                color: #515050;
                background-color: #cdcdcd;
                border: none;

                &:hover {}

                &:active {}

                // &:focus-visible {
                //     box-shadow: var(--box-shadow-size) color-mix(in srgb, var(--success) 25%, transparent);
                // }
            }

            &.btn-success:not(:disabled) {
                background-color: rgba(7, 136, 95, 1);

                &:hover {}

                &:active {}

                &:focus-visible {
                    box-shadow: var(--box-shadow-size) color-mix(in srgb, var(--success) 25%, transparent);
                }
            }

            &.btn-warning:not(:disabled) {
                color: light-dark(var(--white), var(--white));

                &:hover {}

                &:active {}

                &:focus-visible {
                    box-shadow: var(--box-shadow-size) color-mix(in srgb, var(--success) 25%, transparent);
                }
            }
        }
    }

    .modal,
    .modal-native {
        border-radius: 10px;

        &:has(.modal-fullscreen-sm-down) {

            @media only screen and (max-width: 576px) {
                border-radius: 0;
            }
        }

        .modal-dialog {
            .modal-header {
                &.editor {
                    text-transform: uppercase;
                    color: var(--white);
                    background-color: var(--main-color);

                    button.modal-close {
                        border: none;
                        border-radius: 50%;
                        color: var(--main-color);
                        background-color: var(--white);

                        svg {
                            height: calc(1rem + 0.5vw);
                            width: calc(1rem + 0.5vw);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            circle {
                                color: transparent;
                            }

                            line {
                                stroke-width: clamp(2px, 1px + 0.25dvw, 5px);
                            }
                        }

                        &:hover {

                            svg circle,
                            svg line {
                                stroke-width: clamp(1px, 1px + 0.1dvw, 3px);
                                color: var(--white);
                            }

                            background-color: transparent;
                            filter: brightness(130%);
                        }
                    }
                }

                button.modal-close {
                    border: none;
                    border-radius: 50%;
                    color: var(--white);
                    background-color: #ccc;

                    svg {
                        height: calc(1rem + 0.5vw);
                        width: calc(1rem + 0.5vw);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        circle {
                            color: transparent;
                        }

                        line {
                            stroke-width: clamp(2px, 1px + 0.25dvw, 5px);
                        }
                    }

                    &:hover {

                        svg circle,
                        svg line {
                            stroke-width: clamp(1px, 1px + 0.1dvw, 3px);
                            color: var(--main-black);
                        }

                        background-color: transparent;
                        filter: brightness(130%);
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }

                padding: clamp(1rem, 0.5rem + 0.8dvw, 2vw) clamp(1rem, 0.5rem + 0.8dvw, 2vw);

                .modal-title {
                    font-size: clamp(1.1rem, 0.75rem + 0.15vw + 0.38vh, 2rem) !important;
                    letter-spacing: 0.20rem;
                    font-weight: 800;
                    flex-grow: 1;
                    text-align: center;
                }



            }

            :not(:has(.modal-header)) .modal-body,
            :has(.modal-header.editor) .modal-body {
                padding: clamp(0.75rem, 0.5rem + 0.5dvw + 1dvh, 48px) clamp(1rem, 0.25rem + 2dvw + 0.1dvh, 48px);
            }

            :has(.modal-header) .prompt-content {
                padding-top: 0 !important;
            }


            .modal-body {
                padding: 0 clamp(24px, 1.75rem + 0.5dvw, 48px) clamp(24px, 1.75rem + 0.5dvw, 48px);
            }


            .modal-action {
                display: flex;
                justify-content: end;
                flex-wrap: wrap;
                border: none;

                button {
                    font-size: clamp(0.813rem, 0.6rem + 0.35vw, 2rem);
                }

                padding: 0;
                margin-bottom: clamp(0.75px, 0.75rem + 0.5dvw, 36px);


                gap: clamp(0.75px, 0.75rem + 0.5vw, 3rem);

            }

            .modal-footer {
                border: none;

                button {
                    font-size: clamp(0.813rem, 0.6rem + 0.35vw, 2rem);
                }

                padding: 0 clamp(24px, 1.75rem + 0.5dvw, 48px);
                padding-bottom: clamp(24px, 1.75rem + 0.5dvw, 48px);
            }


        }


        &.danger-modal {

            input {
                background-color: light-dark(#EDEDED, #EDEDED);
                color: light-dark(#B6B6B6, #B6B6B6);

                &:focus-visible {
                    border: clamp(1px, 1px + 0.1vw, 5px) solid light-dark(var(--main-color), var(--main-color));

                    &.is-invalid {
                        border: clamp(1px, 1px + 0.1vw, 5px) solid light-dark(var(--danger), var(--danger));
                    }
                }

                &+.form-feedback {
                    visibility: hidden;
                    color: var(--danger);
                }

                &.form-control.is-invalid+.form-feedback {
                    visibility: visible;
                }
            }

            .prompt-action {
                width: 100%;
                place-content: center;
                gap: calc(0.063rem + 0.6dvw + 1.3dvh);

                &>* {
                    flex: 1;
                }

                button.btn.btn-secondary.primary {
                    color: var(--white);
                }
            }


        }

    }

    .modal-native {
        align-self: center;
        justify-self: center;
        // min-width: 50dvw;
        min-height: max-content;
        box-shadow: var(--bs-box-shadow-sm);
        border: none;
        outline: none;

    }

    .ql-toolbar,
    .ql-editor {

        border: clamp(1px, 1px + 0.01vw, 5px) solid var(--border-gray);
    }

    .ql-toolbar {
        margin-bottom: 0;
    }

    .ql-editor {
        transform: translateY(-1%);
        margin-top: 0;
    }
}


div.secondary-nav-container {
    @media only screen and (max-width: 780px) {
        max-width: clamp(300px, 100%, 100%);
    }
}

ul {
    &.nav {

        @media only screen and (min-width: 780px) {
            display: flex;
            justify-content: space-between;

            & li.nav-item:not(:last-child) {
                margin-right: 0.75rem;
            }

        }

        @media only screen and (max-width: 780px) {
            & li.nav-item:not(:last-child) {
                margin-right: 1.5rem;
            }

        }

        flex-wrap: nowrap;
        text-wrap: nowrap;
        border-bottom: calc(1px + 0.01dvw) solid var(--main-color);
        margin-bottom: max(2dvw, 0.75rem);
        overflow-x: auto;
        overflow-x: auto;

    }

    & li.nav-item {

        & a.secondary-nav {
            color: var(--main-black);

            &:hover {
                color: var(--main-black);
            }

            font-size: calc(0.75rem + 0.4vw);
            height: 100%;

            &.active {
                color: var(--main-color);
                color: var(--main-color);
                font-weight: bold;
                border-bottom: calc(1.5px + 0.25dvw) solid light-dark(var(--main-color), color-mix(in srgb, var(--main-color), var(--white) 25%));
            }
        }
    }
}

main.main {
    overflow: visible;
    height: max-content;
    background-color: light-dark(#f5f5f5, #333);

    @media only screen and (min-width: 768px) and (max-width: 1199px) {
        // quick fix to put footer to bottom

        min-height: 115dvh;
    }

    @media only screen and (min-width: 1200px) {
        min-height: calc(95dvh + 7dvw) !important;
    }

    @media only screen and (min-height: 601px) and (hover: none) {
        min-height: 58.5dvh;
        padding: 50px 20px 35px 20px;
    }

    .card-box {

        .card-header {
            display: grid;
            place-items: center;
            background-color: rgba(217, 217, 217, 1);
            padding: calc(0.5rem) calc(2rem);

            h3 {
                margin: 1rem;
            }
        }

        .card-body {
            padding: clamp(1rem, 0.5rem + 1dvw + 2dvh, 3rem);
        }
    }
}

div.datepickers-container {
    z-index: 1001;

    div.datepicker {
        font-size: clamp(1rem, 0.75rem + 0.45vw, 24px);
    }

}

dt-container:first-child {
    .mt-2 {
        margin-top: 0 !important;
    }
}

// .toast-container {
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     right: 0;
//     bottom: 15%;
//     // margin-right: inherit;
//     // transform: translateX(-20%);

//     .toast-body{
//         .text-bg-danger{

//         }
//     }
// }

section.modals-container {
    z-index: 1200;
}

.card-box+div.toolbar {

    button {
        font-weight: 700;
        border-radius: calc(0.25rem + 0.1vw);
    }
}