%custom-toggle-checkbox {
    .form-check-input {
        --dfault-color: var(--dark-gray);
        --dfault-color-semi-transparent: color-mix(in srgb, var(--dfault-color) 25%, transparent);
        --dfault-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%23fff'/%3e%3c/svg%3e");
        --checked-color: var(--success);
        --checked-color-semi-transparent: color-mix(in srgb, var(--success) 25%, transparent);
        --checked-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.8' fill='%23fff'/%3e%3c/svg%3e");

        background-color: var(--dfault-color);
        height: clamp(1rem, 0.5rem + 1.5vw, 3rem);
        width: clamp(2rem, 1rem + 2.5vw, 4.5rem);

        &:hover {
            filter: brightness(120%);
        }

        &:not(:checked) {


            background-image: var(--dfault-switch-bg);
            background-position: left center;

            &:focus {
                border-color: var(--dfault-color);
                outline: 0;
                box-shadow: var(--box-shadow-size) var(--dfault-color-semi-transparent);
            }


        }



        &:checked {
            background-image: var(--checked-switch-bg);
            background-color: var(--checked-color);
            border-color: var(--checked-color);

            &:focus {
                border-color: var(--checked-color);
                outline: 0;
                box-shadow: var(--box-shadow-size) var(--checked-color-semi-transparent);
            }

            &:focus-visible {
                outline-color: color-mod(var(--checked-color), shade(10%));
            }
        }


    }

    .form-check.form-switch {
        width: min-content;
    }
}