*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    // color-scheme: light dark;
}

::-moz-selection {

    /* Code for Firefox */
    @media (prefers-color-scheme: dark) {
        filter: brightness(120%);
    }

    color: light-dark(var(--white), #f5f5f5);
    font-weight: bolder;
    background: light-dark(color-mix(in srgb, var(--main-color) 95%, transparent), color-mix(in srgb, var(--main-color) 75%, transparent));
}

::selection {
    @media (prefers-color-scheme: dark) {
        filter: brightness(120%);
    }

    color: light-dark(var(--white), #f5f5f5);
    font-weight: bolder;
    background: light-dark(color-mix(in srgb, var(--main-color) 75%, transparent), color-mix(in srgb, var(--main-color), var(--white)));

}

%general-responsive-base-font-size {
    font-size: clamp(0.8rem, 0.5rem + 0.5vw, 1vw);
}

body {

    @extend %general-responsive-base-font-size;

    *::placeholder {
        @extend %general-responsive-base-font-size;
    }
}

input {
    background-color: light-dark(var(--white), #ccc);
}

input:focus-visible,
input:focus-visible::placeholder {
    font-size: clamp(1rem, 0.75rem + 0.5vw, 1.5vw);
}



@media only screen and (max-width: 600px) {

    h1,
    .fs-1 {
        font-size: calc(1.45rem + 1.25vw);
    }

    h2,
    .fs-2 {
        font-size: calc(1.18rem + 1.25vw);
    }

    h3,
    .fs-3 {
        font-size: calc(1rem + 1.25vw);
    }

    h4,
    .fs-4 {
        font-size: calc(1rem + 1vw);
    }

    h5,
    .fs-5 {
        font-size: calc(1rem + 0.6575vw);
    }

    h6,
    .fs-6 {
        font-size: calc(0.75rem + 0.6575vw);
    }

    .container-fluid .content-margin {
        margin: 1.75rem calc(.25rem + 8vw);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 0.031px 0.031px var(--border-gray);

    &.page-title {
        color: light-dark(var(--main-color), color-mix(in srgb, var(--main-color), var(--white) 25%));
        text-shadow: none;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: clamp(2rem, 3.2dvw, 4rem);
        margin-bottom: clamp(2rem, 2.4dvw, 3rem);
    }
}


div.secondary-nav-container {
    ul.nav li a.nav-link {
        &:not(.active) {
            color: light-dark(var(--main-black), #f5f5f5);

            &:focus-visible,
            &:hover {
                font-weight: 500;
                color: light-dark(var(--main-color), color-mix(in srgb, var(--main-color), var(--white) 25%));
                text-decoration-color: var(--main-color) !important;
                text-decoration: underline !important;
            }
        }

        &.active {
            color: light-dark(var(--main-color), color-mix(in srgb, var(--main-color), var(--white) 25%));
            pointer-events: none;
        }

    }
}

input[type="checkbox"]:not(disabled) {
    cursor: pointer;
}

.required {
    color: red;
}