*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    // color-scheme: light dark;
}

::-moz-selection {

    /* Code for Firefox */
    @media (prefers-color-scheme: dark) {
        filter: brightness(120%);
    }

    color: light-dark(var(--white), #f5f5f5);
    font-weight: bolder;
    background: light-dark(color-mix(in srgb, var(--main-color) 95%, transparent), color-mix(in srgb, var(--main-color) 75%, transparent));
}

::selection {
    @media (prefers-color-scheme: dark) {
        filter: brightness(120%);
    }

    color: light-dark(var(--white), #f5f5f5);
    font-weight: bolder;
    background: light-dark(color-mix(in srgb, var(--main-color) 75%, transparent), color-mix(in srgb, var(--main-color), var(--white)));

}

%general-responsive-base-font-size {
    font-size: clamp(0.8rem, 0.5rem + 0.5vw, 1vw);
}

html:has(.main) {
    textarea:disabled {
        background-color: light-dark(transparent, transparent);
    }
}

body {

    @extend %general-responsive-base-font-size;

    *::placeholder {
        @extend %general-responsive-base-font-size;
    }
}

input,
textarea {
    background-color: light-dark(var(--white), #ccc);
}

textarea,
.ql-editor {
    resize: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

input:focus-visible,
input:focus-visible::placeholder,
textarea:focus-visible,
textarea:focus-visible::placeholder,
input:disabled,
textarea:disabled {
    font-size: clamp(1rem, 0.75rem + 0.5vw, 1.5vw);
}




@media only screen and (max-width: 600px) {

    h1,
    .fs-1 {
        font-size: calc(1.45rem + 1.25vw) !important;
    }

    h2,
    .fs-2 {
        font-size: calc(1.18rem + 1.25vw) !important;
    }

    h3,
    .fs-3 {
        font-size: calc(1rem + 1.25vw) !important;
    }

    h4,
    .fs-4 {
        font-size: calc(1rem + 1vw) !important;
    }

    h5,
    .fs-5 {
        font-size: calc(1rem + 0.6575vw) !important;
    }

    h6,
    .fs-6 {
        font-size: calc(0.75rem + 0.6575vw) !important;
    }

    .container-fluid .content-margin {
        margin: 1.75rem calc(.25rem + 8vw);
    }
}

@media only screen and (min-width: 600px) {

    h1,
    .fs-1 {
        font-size: calc(1.45rem + 1.25vw) !important;
    }

    h2,
    .fs-2 {
        font-size: calc(1.18rem + 1.25vw) !important;
    }

    h3,
    .fs-3 {
        font-size: calc(1.3rem + 0.32vw + 0.55vh) !important;
        // clamp(1.75rem, 0.75rem + 0.15vw + 0.38vh, 2rem)
    }

    h4,
    .fs-4 {
        font-size: calc(1rem + 1vw) !important;
    }

    h5,
    .fs-5 {
        font-size: clamp(1.25rem, 0.75rem + 0.15vw + 0.38vh, 2rem) !important; //not tested
    }

    h6,
    .fs-6 {
        font-size: clamp(1rem, 0.75rem + 0.15vw + 0.38vh, 2rem) !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 0.031px 0.031px var(--border-gray);

    &.page-title {
        color: light-dark(var(--main-color), color-mix(in srgb, var(--main-color), var(--white) 25%));
        text-shadow: none;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: clamp(2rem, 3.2dvw, 4rem);
        margin-bottom: clamp(2rem, 2.4dvw, 3rem);
    }
}

main.main .page-title.card {

    // padding: 1rem 2.5rem;

    padding: clamp(0.75rem, 0.5rem + 1dvw, 2rem) clamp(1rem, 0.25rem + 3dvw, 4rem);


    box-shadow: var(--bs-box-shadow-sm);
    border: none;
    margin-top: clamp(1.5rem, 2.5dvw, 4rem);
    margin-bottom: clamp(2rem, 2.4dvw, 3rem);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        color: light-dark(var(--main-color), color-mix(in srgb, var(--main-color), var(--white) 25%));
        text-shadow: none;
        text-transform: uppercase;
        font-weight: 700;

    }


}


div.secondary-nav-container {
    ul.nav li a.nav-link {
        &:not(.active) {
            color: light-dark(var(--main-black), #f5f5f5);

            &:focus-visible,
            &:hover {
                font-weight: 500;
                color: light-dark(var(--main-color), color-mix(in srgb, var(--main-color), var(--white) 25%));
                text-decoration-color: var(--main-color) !important;
                text-decoration: underline !important;
            }
        }

        &.active {
            color: light-dark(var(--main-color), color-mix(in srgb, var(--main-color), var(--white) 25%));
            pointer-events: none;
        }

    }
}

input[type="checkbox"]:not(disabled) {
    cursor: pointer;
}

.required {
    color: red;
}

section .toast-container,
section .toast-container-unstacked {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 15%;

    .toast {
        border: none;
        border-radius: clamp(0.438rem, 0.2rem + 0.3vw, 1rem);

        .toast-body {
            display: flex;
            border-radius: clamp(0.438rem, 0.2rem + 0.3vw, 1rem);

            &.text-bg-danger {
                border: clamp(1.5px, 0.5px + 0.1vw, 5px) solid !important;
                background-color: color-mix(in srgb, var(--danger), white) !important;
                color: var(--danger) !important;

                ::-moz-selection {

                    /* Code for Firefox */
                    @media (prefers-color-scheme: dark) {
                        filter: brightness(120%);
                    }

                    color: light-dark(var(--white), #f5f5f5);
                    font-weight: bolder;
                    background: light-dark(color-mix(in srgb, blue 95%, transparent), color-mix(in srgb, blue 75%, transparent));
                }

                ::selection {
                    @media (prefers-color-scheme: dark) {
                        filter: brightness(120%);
                    }

                    color: light-dark(var(--white), #f5f5f5);
                    font-weight: bolder;
                    background: light-dark(color-mix(in srgb, blue 75%, transparent), color-mix(in srgb, blue, var(--white)));

                }
            }

            &.text-bg-sucess {
                border: clamp(1.5px, 0.5px + 0.1vw, 5px) solid !important;
                background-color: color-mix(in srgb, var(--success), white) !important;
                color: var(--success) !important;

                ::-moz-selection {

                    /* Code for Firefox */
                    @media (prefers-color-scheme: dark) {
                        filter: brightness(120%);
                    }

                    color: light-dark(var(--white), #f5f5f5);
                    font-weight: bolder;
                    background: light-dark(color-mix(in srgb, var(--success) 95%, transparent), color-mix(in srgb, var(--success) 75%, transparent));
                }

                ::selection {
                    @media (prefers-color-scheme: dark) {
                        filter: brightness(120%);
                    }

                    color: light-dark(var(--white), #f5f5f5);
                    font-weight: bolder;
                    background: light-dark(color-mix(in srgb, var(--success) 75%, transparent), color-mix(in srgb, var(--success), var(--white)));

                }
            }

            .toast-content {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                text-align: justify;
                width: 85%;
                padding-left: clamp(2rem, 1rem + 1dvw, 4rem);
            }

            div:has(button[type="button"].btn-close) {
                display: grid;
                place-content: center;
                width: 15%;

                button[type="button"].btn-close {}
            }
        }
    }
}

.modal {
    .prompt-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        // gap: clamp(3rem, );
        gap: calc(1rem + 0.75dvh + 0.15dvw);

        p {
            margin-bottom: 0;
        }

        img.main-icon,
        div.success-icon {
            height: clamp(90px, 2.713rem + 1.92dvw + 4.15dvh, 150px);
            width: clamp(100px, 3.125rem + 2.1dvw + 4.3dvh, 170px);
            aspect-ratio: 3 / 2;
            margin-bottom: 0.5rem;
            cursor: none;


        }

        div.success-icon {
            overflow: clip;
            overflow-clip-margin: 20px;
            display: grid;
            place-content: center;

            img[src="src/images/resc/check-animation.gif"] {
                height: clamp(180px, 5.431rem + 3.84dvw + 8.30dvh, 300px);
                width: clamp(200px, 6.25rem + 4.2dvw + 8.6dvh, 340px);
            }

        }



        .prompt-action {
            display: flex;
            gap: calc(0.063rem + 0.3dvw + 0.7dvh);

            .btn {
                &.btn-secondary {
                    color: #515050;
                    background-color: #cdcdcd !important;
                }
            }
        }
    }
}


// sass doesnt support scope selector of css yet
// @scope (main.main) {
.dropdown.bootstrap-select {

    button.dropdown-toggle {
        background-color: #f8f8f8;
        padding-top: 0.938rem;
        padding-top: clamp(0.45rem, 0.20rem + 0.3dvw + 1dvh, 1.5rem);
        padding-bottom: 1rem;
        padding-bottom: clamp(0.5rem, 0.25rem + 0.35dvw + 1dvh, 1.6rem);
        @extend %general-responsive-base-font-size;

        .filter-option {
            color: #b6b6b6;
            font-weight: 500;
        }

        &:focus {
            outline: clamp(1px, 0.5px + 0.1vw, 5px) solid var(--main-color) !important;
        }

        &::after {
            content: none;
        }

        &::before {
            color: #b6b6b6;
            content: "\f078";
            font-family: FontAwesome;
            display: inline-block;
            position: absolute;
            right: 5%;
            transform-origin: center;
            transition: transform 0.3s ease;
        }

        &.show::before {
            filter: brightness(50%);
            transform: rotateX(180deg);
            transition: transform 0.3s ease;
        }

    }

    .dropdown-menu[data-popper-placement] {
        top: -20% !important;
        border-width: 0;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        padding: clamp(1rem, 0.25rem + 0.5vw, 3rem) clamp(1.25rem, 0.5rem + 0.5vw, 3.5rem);

        ul.dropdown-menu li {
            @extend %general-responsive-base-font-size;
            text-align: center;
            letter-spacing: 0.1rem;

            span.text {
                font-weight: 500;
            }

            %hide-default-blank-option {
                display: none;

                &:hover {
                    background-color: transparent;
                    pointer-events: none;
                }
            }

            &.disabled {
                @extend %hide-default-blank-option;
            }

            a.dropdown-item span.text:empty {
                @extend %hide-default-blank-option;
            }

            a.dropdown-item:has(span.text:empty) {
                @extend %hide-default-blank-option;
            }

            &:has(&.disabled, a.dropdown-item span.text:empty) {
                @extend %hide-default-blank-option;
            }

            &.selected.active {
                border-radius: 8px;
                filter: drop-shadow(0 0 7mm var(--main-color));

                a {

                    &.selected.active span.text {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// }

.feather {
    &.feather-copy {
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}