// @media (max-height: 499px) {
//     .dt-scroll-body {
//         max-height:100dvh -  63.13px + 86 84.66 !important;
//     }
// }


%fa-grip-lines-before {

    &.fa-grip-lines::before {
        color: #d9d9d9;
        font-size: max(1vw, 1rem);

    }
}

%input-text-editable {
    input[type="text"].text-editable {
        padding-left: calc(0.25rem + 0.2dvw);
        margin-left: calc(0.5rem + 0.2dvw);
        outline: none;
        background-color: transparent;
        border: none;
        max-width: calc(100% - 1px);
        font-size: calc(0.75rem + 0.6575vw);

        // add border while typing
        &:focus-visible {
            outline: 0.5px solid #0075FF;
        }
    }
}

%table-row-height {
    min-height: calc(1rem + 3vw);
    height: calc(1rem + 3vw);
}

main {

    height: calc(100dvh - (58.96px + 45.99px));

    .fa {
        @extend %fa-grip-lines-before;
    }

    .fas {
        @extend %fa-grip-lines-before;
    }

    @extend %input-text-editable;

    table.table {
        margin-bottom: 0px;
        border: calc(0.5px + 0.06dvw) solid rgba(217, 217, 217, 1);

        tbody tr {
            cursor: pointer;
            @extend %table-row-height;

            & td {
                &.grab {
                    cursor: -webkit-grab;
                    cursor: grab;
                }

                vertical-align: middle;
            }

            &.selected {
                // --r: calc(var(--primary-color) / 65536);
                // --g: calc((var(--primary-color) % 65536) / 256);
                // --b: calc(var(--primary-color) % 256);
                // background-color: rgba(var(--r), var(--g), var(--b), 0.2);
                border: calc(0.5px + 0.1vw) solid #0075FF;
            }
        }
    }
}

.dt-rowReorder-float {
    vertical-align: middle;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    @extend %input-text-editable;

    input[type="text"].text-editable {
        font-weight: bold;
    }
}

tr.dt-rowReorder-moving {
    input[type="text"].text-editable {
        font-weight: bold;
    }

    outline: calc(0.5px + 0.06dvw) dotted #0075FF;
}

div.dt-rowReorder-float-parent {
    outline: calc(1px + 0.1dvw) solid var(--primary-color);
    border-radius: none;
}

.dt-scroll-foot {
    display: none;
}

div.dt-container {
    div.row.mt-2.justify-content-md-center:last-child {
        margin-top: 0 !important;
    }
}

.card-box+div.toolbar {
    display: flex;
    margin-top: max(1dvw, 0.75rem);
    align-items: center;
    justify-content: space-between;


    button {
        font-weight: 700;
        border-radius: 15px;
        position: relative;

        &[data-selected]:not([data-selected=""])::before {
            content: attr(data-selected);
            visibility: visible;
            position: absolute;
            top: -0.75em;
            right: -0.75em;
            width: 1.5em;
            height: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: red;
            color: var(--white);
        }

        &::before {
            visibility: hidden;
        }
    }
}

button.add-new {
    width: 100%;
    // display: flex;
    // flex-grow: 1;
    // align-items: center;
    // justify-content: center;
    border: calc(1px + 0.06dvw) solid rgba(217, 217, 217, 1);
    background: rgba(245, 245, 245, 1);
    font-size: calc(0.75rem + 0.6575vw);
    font-weight: bold;
    color: rgba(134, 134, 134, 1);
    @extend %table-row-height;

    &:hover {
        background: rgb(236, 236, 236, 1);
        font-weight: bolder;
        color: var(--black);
        cursor: crosshair;
    }
}