@import 'configuration';

main.main {
    .card-box {

        //55.98 + Footer
        // 63.5 + Header
        // 57.19 + NavList
        // 61.49 + Page Head Title
        // 16 + 16 top and bottom margin
        // height: calc(100% - 151.48px);
        // @media only screen and (max-width: 576px) {

        //     height: 60dvh;
        // }

        // @media only screen and (min-width: 576px) {
        //     height: clamp(min(300px, 55dvh), 9.375rem + 50dvh, 900px);

        // }


    }

    .card-header {

        h3.text-capitalize {
            font-size: clamp(0.8rem, 1rem + 0.5vw, 3rem);
        }
    }

    .card-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: auto;

        &>*:first-child {
            align-self: start;
        }

        &*:not(:first-child) {
            align-self: center;
            justify-self: center;
        }
    }


    div.form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        input[type=text] {
            height: calc(1.2rem + 0.5dvw + 1.5dvh);
            margin: clamp(0.5rem, 0.1rem + 0.9dvh, 3rem) 0;
            padding: calc(0.5rem + 0.1dvw) calc(0.5rem + 0.48dvw);
            text-align: center;
            border: calc(0.5px + 0.1vw) solid #000;

            // &::placeholder,
            // &::-webkit-input-placeholder,
            // &::-moz-placeholder,
            // &::-ms-input-placeholder {
            //     text-align: left;
            // }

            &::placeholder {
                text-align: left;
            }
        }

        button.btn {
            margin: calc(0.5rem + 0.05dvw);
        }
    }

}

input::-webkit-clear-button {
    // background-color: var(--main-color);
    // color: var(--main-color);
}

::-webkit-datetime-edit {
    // targets text field of date and time input

    // background-color: var(--main-color);
    // color: var(--main-color);
}

::-webkit-datetime-edit-fields-wrapper {
    // targets text content of date and time input
    // background-color: var(--main-color);
    // color: var(--main-color);
}

::-webkit-datetime-edit-text {
    // targets text separator on date and time 
    // like colon : to seperate hour minutes
    // like slash / and colon , in date
    // also targets week placeholder like
    // background-color: var(--main-color);
    // color: var(--main-color);
}

::-webkit-datetime-edit-year-field {
    // targets year text field
    // background-color: var(--main-color);
    // color: var(--main-color);
}

::-webkit-datetime-edit-month-field {
    // targets year text field
    // background-color: var(--main-color);
    // color: var(--main-color);
}

// ::-webkit-datetime-edit-week-field
::-webkit-datetime-edit-day-field {
    // targets day text field
    // background-color: var(--main-color);
    // color: var(--main-color);
}

::-webkit-datetime-edit-hour-field {
    // targets hour text field
    // background-color: var(--main-color);
    // color: var(--main-color);
}

::-webkit-datetime-edit-minute-field {
    // targets minute text field
    // background-color: var(--main-color);
    // color: var(--main-color);
}

// ::-webkit-datetime-edit-second-field
// ::-webkit-datetime-edit-millisecond-field
::-webkit-datetime-edit-ampm-field {
    // targets Am PM text field
    // background-color: var(--main-color);
    // color: var(--main-color);
}

::-webkit-inner-spin-button {
    // targets 
    // background-color: var(--main-color);
    // color: var(--main-color);
}

::-webkit-calendar-picker-indicator {
    // targets date and time picker icons
    // background-color: var(--main-color);
    // color: var(--main-color);
}