@import 'configuration';
@import 'draggable-handle';

// @media (max-height: 499px) {
//     .dt-scroll-body {
//         max-height:100dvh -  63.13px + 86 84.66 !important;
//     }
// }

@mixin max-line-count-truncate {

    @media screen and (min-width: 700px),
    screen and (min-height: 600px) and (hover: none) {
        -webkit-line-clamp: 2;
    }

    @media (min-width: 1400px) {
        -webkit-line-clamp: 3;
    }
}

%vote-rule-text {
    .vote-rule-text {
        margin-left: calc(0.5rem + 0.2dvw);
        margin-right: calc(0.5rem + 0.2dvw);
        font-size: calc(0.75rem + 0.6575vw);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        @include max-line-count-truncate;
        -webkit-box-orient: vertical;
    }
}

main {

    .fa,
    .fas {
        color: var(--border-gray);
        @extend %fa-grip-lines-before;
    }

    // .vote-rule-text {
    //     margin-left: calc(0.5rem + 0.2dvw);
    //     margin-right: calc(0.5rem + 0.2dvw);
    //     font-size: calc(0.75rem + 0.6575vw);
    //     overflow: hidden;
    //     display: -webkit-box;
    //     -webkit-line-clamp: 1;
    //     @include max-line-count-truncate;
    //     -webkit-box-orient: vertical;
    // }
    @extend %vote-rule-text;

    .btn {
        &:not(nav.navbar .btn):not(nav.sidebar .btn) {


            &:active {
                box-shadow: none !important;
            }

            &.btn-primary {
                border: calc(0.063rem + 0.01vw) solid var(--main-color);

                &:disabled {
                    opacity: 0.7;
                    filter: brightness(120%);
                }

            }

            &.btn-secondary:not(:disabled) {
                border: calc(0.063rem + 0.05vw) solid var(--secondary-color);

            }

            &.btn-success:not(:disabled) {
                border: calc(0.063rem + 0.05vw) solid rgba(7, 136, 95, 1);

            }
        }
    }

    & button.del {
        font-weight: bold;
        position: relative;

        span.icon.trash {
            padding: 1rem 0.25rem;

            svg {
                height: calc(1rem + 0.5vw);
                width: calc(1rem + 0.5vw);
                transform: translateY(-8%);
            }
        }
    }

    @media only screen and (max-height: 600px) {
        .dt-scroll-body {
            max-height: clamp(4.5rem, 2rem + 25dvh, 45dvh) !important;
        }
    }

    @media only screen and (min-height: 601px) {
        .dt-scroll-body {
            max-height: clamp(4.5rem, 2rem + 43dvh, 70dvh) !important;
        }
    }

    table.table {
        margin-bottom: 0px;
        border: calc(0.5px + 0.06dvw) solid rgba(217, 217, 217, 1);

        tbody tr {
            cursor: pointer;
            @extend %table-row-height;

            & td {
                &.grab {
                    cursor: -webkit-grab;
                    cursor: grab;
                }

                vertical-align: middle;
            }

            &.selected {
                outline: calc(0.5px + 0.1vw) solid #0075FF;
                border: calc(0.5px + 0.1vw) solid #0075FF;
            }
        }
    }
}

body div.modal,
body dialog.modal-native {

    .modal-dialog {
        .modal-header {
            .modal-title {
                @media only screen and (max-width: 600px) {
                    font-size: calc(0.75rem + 0.6575vw);
                }
            }
        }

        &:has(.editor) {
            .modal-body {
                display: flex;
                flex-direction: column;
                gap: clamp(1rem, 0.5rem + 0.75vw + 1.5vh, 3rem);
            }
        }


        button.btn.btn-secondary {
            box-shadow: none !important;
            // background-color: var(--bs-modal-bg) !important;

            &:active,
            &:hover {
                filter: brightness(120%);
                box-shadow: var(--bs-box-shadow-sm) !important;
            }


        }

        button.modal-close {
            color: var(--main-color);
            background-color: var(--white);

            svg circle {
                color: transparent;
            }

            &:hover {

                svg circle,
                svg line {
                    stroke-width: clamp(1px, 1px + 0.1dvw, 3px);
                    color: var(--white)
                }

                background-color: var(--main-color);
                filter: brightness(130%);
            }
        }

        textarea {
            min-width: 100%;
            min-height: 50dvh;
        }

        .modal-action {}

    }

    .form-control {
        color: var(--main-black);

        &:focus {
            // color: var(--main-black);
            background-color: var(--white);
        }
    }
}

.dt-rowReorder-float {
    color: var(--main-color);
    vertical-align: middle;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    font-weight: bold;

    @extend %vote-rule-text;

    .fa,
    .fas {
        color: var(--main-color);
    }
}

tr.dt-rowReorder-moving {
    font-weight: bold;
    @extend %vote-rule-text;

    @include max-line-count-truncate;

    outline: calc(0.5px + 0.06dvw) dotted #0075FF;
}

div.dt-rowReorder-float-parent {
    outline: calc(1px + 0.1dvw) solid var(--main-color);
    border-radius: none;
}

.dt-scroll-foot {
    display: none;
}

div.dt-container {
    div.row.mt-2.justify-content-md-center:last-child {
        margin-top: 0 !important;
    }
}

.card-box+div.toolbar {
    display: flex;
    margin-top: max(1dvw, 1.25rem);
    align-items: center;
    justify-content: space-between;


    button {
        position: relative;

        &[data-selected]:not([data-selected=""])::before {
            content: attr(data-selected);
            visibility: visible;
            position: absolute;
            top: -0.75em;
            right: -0.75em;
            width: 1.5em;
            height: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: red;
            color: var(--white);
        }

        &::before {
            visibility: hidden;
        }
    }
}

div:has(> button.add-new:focus-visible) {
    box-shadow: var(--box-shadow-size) color-mix(in srgb, var(--dark-gray) 25%, transparent) !important;
}

button.add-new {
    width: 100%;
    // display: flex;
    // flex-grow: 1;
    // align-items: center;
    // justify-content: center;
    border: calc(1px + 0.06dvw) solid rgba(217, 217, 217, 1);
    background-color: var(--white);
    font-size: calc(0.75rem + 0.6575vw);
    font-weight: bold;
    color: rgba(134, 134, 134, 1);
    @extend %table-row-height;

    &:hover {
        background-color: rgb(236, 236, 236, 1);
        font-weight: bolder;
        color: var(--main-black);
        cursor: crosshair;
    }

    // &:focus-visible {
    //     box-shadow: var(--box-shadow-size), color-mix(in srgb, var(--dark-gray) 25%, transparent);
    // }
}