@import 'configuration';
@import 'draggable-handle';

// @media (max-height: 499px) {
//     .dt-scroll-body {
//         max-height:100dvh -  63.13px + 86 84.66 !important;
//     }
// }


%input-text-editable {
    input[type="text"].text-editable {
        padding-left: calc(0.25rem + 0.2dvw);
        margin-left: calc(0.5rem + 0.2dvw);
        outline: none;
        background-color: transparent;
        border: none;
        max-width: calc(100% - 1px);
        font-size: calc(0.75rem + 0.6575vw);

        // add border while typing
        &:focus-visible {
            outline: 0.5px solid #0075FF;
        }
    }
}

main {

    .fa,
    .fas {
        color: var(--border-gray);
        @extend %fa-grip-lines-before;
    }

    @extend %input-text-editable;

    .btn {
        &:not(nav.navbar .btn):not(nav.sidebar .btn) {


            &:active {
                box-shadow: none !important;
            }

            &.btn-primary {
                border: calc(0.063rem + 0.01vw) solid var(--main-color);

                &:disabled {
                    opacity: 0.7;
                    filter: brightness(120%);
                }

            }

            &.btn-secondary:not(:disabled) {
                border: calc(0.063rem + 0.05vw) solid var(--secondary-color);

            }

            &.btn-success:not(:disabled) {
                border: calc(0.063rem + 0.05vw) solid rgba(7, 136, 95, 1);

            }
        }
    }

    & button.del {
        font-weight: bold;
        position: relative;

        span.icon.trash {
            padding: 1rem 0.25rem;

            svg {
                height: calc(1rem + 0.5vw);
                width: calc(1rem + 0.5vw);
                transform: translateY(-8%);
            }
        }
    }

    @media only screen and (max-height: 600px) {
        .dt-scroll-body {
            max-height: clamp(4.5rem, 2rem + 25dvh, 45dvh) !important;
        }
    }

    @media only screen and (min-height: 601px) {
        .dt-scroll-body {
            max-height: clamp(4.5rem, 2rem + 43dvh, 70dvh) !important;
        }
    }

    table.table {
        margin-bottom: 0px;
        border: calc(0.5px + 0.06dvw) solid rgba(217, 217, 217, 1);

        tbody tr {
            cursor: pointer;
            @extend %table-row-height;

            & td {
                &.grab {
                    cursor: -webkit-grab;
                    cursor: grab;
                }

                vertical-align: middle;
            }

            &.selected {
                // outline: clamp(1px, 0.5px + 0.1vw, 5px) solid #0075FF;
                border: clamp(1.5px, 0.5px + 0.1vw, 5px) solid #0075FF;
            }
        }
    }
}

body div.modal,
body dialog.modal-native {

    .modal-dialog {
        .modal-header {
            .modal-title {
                @media only screen and (max-width: 600px) {
                    font-size: calc(0.75rem + 0.6575vw);
                }
            }

            &.editor {
                button.modal-close {
                    color: var(--main-color);
                    background-color: var(--white);

                    svg circle {
                        color: transparent;
                    }

                    &:hover {

                        svg circle,
                        svg line {
                            stroke-width: clamp(1px, 1px + 0.1dvw, 3px);
                            color: var(--white)
                        }

                        background-color: var(--main-color);
                        filter: brightness(130%);
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }
            }
        }

        label[for="positionInput"] {
            color: var(--main-color);
            font-weight: 800;
        }

        #positionInput {

            outline: none;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            border-radius: 0;
            border-bottom: clamp(1px, 1px + 0.01dvw, 5px) solid var(--main-color);
            padding-left: 0;
            padding-right: 0;
            // line-height: 1.75;
            @extend %general-responsive-base-font-size;

            &.form-control {

                &:active,
                &:focus {
                    // line-height: 1.5;
                    box-shadow: none;
                    border-bottom: clamp(2px, 1.5px + 0.01dvw, 5px) solid var(--main-color);
                }
            }
        }

        button.btn.btn-secondary {
            box-shadow: none !important;
            background-color: var(--bs-modal-bg) !important;

            &:active,
            &:hover {
                filter: grayscale(100%);
                box-shadow: var(--bs-box-shadow-sm) !important;
            }


        }

        .ql-container {
            @extend %general-responsive-base-font-size;
        }

        @media only screen and (max-height: 600px) {
            .ql-container {
                // height: 100px;
                height: clamp(5rem, 3rem + 6dvh, 50dvh);
            }

            .ql-editor {
                height: clamp(3.5rem, 1.5rem + 5.5dvh, 49.5dvh);
            }
        }

        @media only screen and (min-height: 601px) {
            .ql-container {
                // height: 100px;
                height: clamp(6.25rem, 3rem + 15.5dvh, 50dvh);
            }

            .ql-editor {
                height: clamp(4.75rem, 1.5rem + 14.5dvh, 49.5dvh);
            }
        }

    }

    .form-control {
        color: var(--main-black);

        &:focus {
            // color: var(--main-black);
            background-color: var(--white);
        }
    }

    .modal-body:has(.affected.candidate-list) {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 0.5rem + 0.75vw + 1.5vh, 3rem);
        max-height: 500px;
        padding: clamp(24px, 1.75rem + .5dvw, 48px);

        h5 {
            text-align: center;
        }

        .affected.candidate-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: clamp(0.5rem, 0.25rem + 0.75vw + 1.5vh, 3rem) 0;


            @media only screen and (max-width: 576px) {
                gap: clamp(0.5rem, 0.25rem + 0.75vw + 1.5vh, 3rem);
            }




            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            div:has(.photo) {
                display: grid;
                place-content: center;
            }

            div.photo {
                justify-self: center;
                border-radius: 50%;
                border: calc(1px + 0.1dvw) solid var(--main-color);
                max-width: clamp(2.375rem, 1rem + 4dvw + 0.5dvh, 5rem);
                max-height: clamp(2.375rem, 1rem + 4dvw + 0.5dvh, 5rem);
                overflow: clip;
                aspect-ratio: 1/1;

                img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1/1;
                }
            }

            .name {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.dt-rowReorder-float {
    vertical-align: middle;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    @extend %input-text-editable;

    input[type="text"].text-editable {
        font-weight: bold;
    }
}

tr.dt-rowReorder-moving {
    input[type="text"].text-editable {
        font-weight: bold;
    }

    outline: calc(0.5px + 0.06dvw) dotted #0075FF;
}

div.dt-rowReorder-float-parent {
    outline: calc(1px + 0.1dvw) solid var(--main-color);
    border-radius: none;
}

.dt-scroll-foot {
    display: none;
}

div.dt-container {
    div.row.mt-2.justify-content-md-center:last-child {
        margin-top: 0 !important;
    }
}

.card-box+div.toolbar {
    display: flex;
    margin-top: max(1dvw, 1.25rem);
    align-items: center;
    justify-content: space-between;


    button {
        position: relative;

        &[data-selected]:not([data-selected=""])::before {
            content: attr(data-selected);
            visibility: visible;
            position: absolute;
            top: -0.75em;
            right: -0.75em;
            width: 1.5em;
            height: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: red;
            color: var(--white);
        }

        &::before {
            visibility: hidden;
        }
    }
}

div:has(> button.add-new:focus-visible) {
    box-shadow: var(--box-shadow-size) color-mix(in srgb, var(--dark-gray) 25%, transparent) !important;
}

button.add-new {
    width: 100%;
    // display: flex;
    // flex-grow: 1;
    // align-items: center;
    // justify-content: center;
    border: calc(1px + 0.06dvw) solid rgba(217, 217, 217, 1);
    background-color: var(--white);
    font-size: calc(0.75rem + 0.6575vw);
    font-weight: bold;
    color: rgba(134, 134, 134, 1);
    @extend %table-row-height;

    &:hover {
        background-color: rgb(236, 236, 236, 1);
        font-weight: bolder;
        color: var(--main-black);
        cursor: crosshair;
    }

    // &:focus-visible {
    //     box-shadow: var(--box-shadow-size), color-mix(in srgb, var(--dark-gray) 25%, transparent);
    // }
}